<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    {% block style %}
    {% endblock %}
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>결핵 환자 정보 대쉬보드</title>
  </head>
  <body>
    <header>
      <img id="img_logo" src={% static 'media/images/logo_hospital.png' %}
      alt="logo_hospital">
      <div id="header_right">
        {% if user.is_active %}
        <p>{{ user.profile.nickname }}({{ user.profile.hospital.code }})</p>
        <a id="btn_logout" href="{% url 'logout' %}">
          <span id="icon_logout" class="material-symbols-outlined">logout</span>
          <p id="txt_logout">로그아웃</p>
        </a>
        {% endif %}
      </div>
    </header>
    {% block content %}
    {% endblock %}
  </body>
</html>
<style>
</style>
