<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/patient_community.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>community</title>
</head>

<body>

  <div id="searchBox">
	  <form action="{% url 'search' %}" method="get">
	    <input type="search" id="community_search" name="search_content" class="form-control">
      <button type="submit" id="community_btn">
        <span class="material-symbols-outlined">search</span>
      </button>
	  </form>

    <a href="{% url 'post_community'%}" id="post_btn"> 
      <span class="material-symbols-outlined">edit</span>
    </a>
  </div>
 
  {% for post in posts %}
	<div id="post_box">
    <div id="post_title">
      {% if post.category == 'question' %}
      <div id="post_question">질문</div>
      {% endif %}
      <a href="{% url 'post_detail' post.id %}">
        <div>{{post.title}}</div>
      </a>
      <div id="post_comment">[{{post.count_of_the_comment}}]</div>
    </div>
    <div id="post_info">
      <div>{{post.print_created_at}}</div>
      <div>
      {% if not post.anonymous %}
      {{post.writer.profile.nickname}}
      {% else %}
      익명
      {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
    
  <div class="nav">
    <div class="nav-item">
      <a class="nav-link"aria-current="page" href="{%url 'inspection_result'%}">
        <span class="material-symbols-outlined">content_paste</span>
      </a>
    </div>
    <div class="nav-item">
      <a class="nav-link"aria-current="page" href="{%url 'patient_dashboard'%}">
        <span class="material-symbols-outlined">home</span>
      </a>
    </div>
    <div class="nav-item">
      <a class="nav-link"aria-current="page" href="{%url 'community_main'%}">
        <span class="material-symbols-outlined active">chat_bubble</span>
      </a>
    </div>
  </div>
      
</body>
</html>
