<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/patient_community.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>community</title>
</head>

<body>
  <header>
    <section>
      <img id="img_logo" src={% static 'media/images/logo_hospital.png' %} alt="logo_hospital">
      <div id="header_right">
        {% if user.is_active %}
          <p>{{ user.profile.nickname }}({{ user.profile.user }})</p>
          <a id="btn_logout" href="{% url 'logout' %}">
            <span id="icon_logout" class="material-symbols-outlined">logout</span>
            <p id="txt_logout">로그아웃</p>
          </a>
        {% endif %}
      </div>
    </section>

    <section id="search_form">
      <form action="{% url 'search' %}" method="get">
        <input type="search" id="community_search" name="search_content" class="form-control">
        <button type="submit" id="community_btn">
          <span class="material-symbols-outlined">search</span>
        </button>
      </form>

      <a href="{% url 'post_community'%}" id="post_btn"> 
        <span class="material-symbols-outlined">edit</span>
      </a>
    </section>
  </header>

  <main>
    {% for post in posts %}
    <a id="post_box" href="{% url 'post_detail' post.id %}">
      <div id="post_title">
        {% if post.category == 'question' %}
        <div id="post_question">질문</div>
        {% endif %}
        <div>{{post.title}}</div>
        <div id="post_comment">[{{post.count_of_the_comment}}]</div>
      </div>
      <div id="post_info">
        <div>{{post.print_created_at}}</div>
        <div>
        {% if not post.anonymous %}
        {{post.writer.profile.nickname}}
        {% else %}
        익명
        {% endif %}
        </div>
      </div>
    </a>
    {% empty %}
    <div id="post_no">아직 게시물이 없습니다.</div>
    {% endfor %}
  </main>
    
  <nav>
    <div class="nav_item">
      <a class="nav_link" aria-current="page" href="{%url 'inspection_result'%}">
        <span class="material-symbols-outlined">content_paste</span>
      </a>
    </div>
    <div class="nav_item">
      <a class="nav_link" aria-current="page" href="{%url 'patient_dashboard'%}">
        <span class="material-symbols-outlined">home</span>
      </a>
    </div>
    <div class="nav_item">
      <a class="nav_link" aria-current="page" href="{%url 'community_main'%}">
        <span class="material-symbols-outlined active">chat_bubble</span>
      </a>
    </div>
  </nav>
      
</body>
</html>
