<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/patient_community.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>community</title>
</head>

<body>

  <div id="searchBox">
	  <form action="{% url 'search' %}" method="get">
	    <input type="search" id="community_search" name="search_content" class="form-control">
      <button type="submit" id="community_btn">
        <span class="material-symbols-outlined">search</span>
      </button>
	  </form>

    <a href="{% url 'post_community'%}" id="post_btn"> 
      <span class="material-symbols-outlined">edit</span>
    </a>
  </div>
 
  {% for post in posts %}
	<div style="margin-left: 7vw; display: flex; font-family: 'Apple SD Gothic Neo';">

        {% if post.category == 'question' %}
            <div style="border-radius: 20px; background-color: #B3F4AD; width: 41px; height: 26px; margin-top: 0.3vh; margin-right: 5px; text-align: center; font-family: Apple SD Gothic Neo;">
	        질문
            </div>
        {% endif %}
            <a href="{% url 'post_detail' post.id %}" style="text-decoration: none; color: black;">
                <div style="font-size: 20px; font-family:'Apple SD Cothic Neo'; font-weight: 400;">
                    {{post.title}}
                </div>
            </a>
        </div>
        <div style="width: 55vw; display: flex; justify-content: space-between; font-fmily: Apple SD Gothic Neo; font-size: 1rem; color: #949494; margin-top: 2px; margin-left: 7vw;">
	    <div style="margin-left: 1vw;">
		{% if not post.anonymous %}
            	{{post.writer.profile.nickname}}
	    	{% else %}
	    	익명
            	{% endif %}
	    </div>
	    
	    <div style="display: flex; flex-direction: row;">
		<div style="margin-right: 8vw;">
            	    {{post.print_created_at}}
	        </div>
		<div>
		    댓글 {{post.count_of_the_comment}}개
		</div>
	    </div>

        </div>
    </div>
    <hr>
    {% endfor %}
    
    <div class="nav">
      <div class="nav-item">
        <a class="nav-link"aria-current="page" href="{%url 'inspection_result'%}">
          <span class="material-symbols-outlined">content_paste</span>
        </a>
      </div>
      <div class="nav-item">
        <a class="nav-link"aria-current="page" href="{%url 'patient_dashboard'%}">
          <span class="material-symbols-outlined">home</span>
        </a>
      </div>
      <div class="nav-item">
        <a class="nav-link"aria-current="page" href="{%url 'community_main'%}">
          <span class="material-symbols-outlined active">chat_bubble</span>
        </a>
      </div>
    </div>
      
  </body>
</html>
