<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>새 글 작성</title>
    <link rel="stylesheet" href="{% static 'css/patient_post.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    
  <form action="{% url 'post_community' %}" method="post" enctype= multipart/form-data>
	  <div id="post_header">
	    <a href="{% url 'community_main' %}">
	    	<span class="material-symbols-outlined">arrow_back_ios</span>
	    </a>
      {% csrf_token %}
      <button type="submit" id="post_submit">
        <div style="margin: auto;">작성 완료</div>
      </button>
	  </div>

    <div id="post_options">
      <input id="question" type="checkbox" name="category" value="question">
      <label for="question">질문글</label>
      <input id="anonymous" type="checkbox" name="anonymous" value="True">
      <label for="anonymous">익명</label>
    </div>
	  <div id="post_contents">
      <input type="text" name="title" name="comment" placeholder="제목">
	    <textarea placeholder="내용을 입력하세요."></textarea>
	  </div>      
  </form>
    
</body>
</html>
