{% extends 'base.html' %}
{% load static %}
{% block style %}
  <link rel="stylesheet" href="{% static 'css/manager_severity.css' %}" />
{% endblock %}
{% block content %}
    <main>
      {% include 'admin_navbar.html' %}
      <section>
        <div>
          <h2>환자 부작용 현황</h2>
        </div>
        <div class="grid_container">
          {% with origin="patient_severity" %}
            {% include 'admin_patient_list.html' %}
          {% endwith %}
          <!-- 날짜검색창 -->
          <div id="select_date" class="bg_white_round">
            <h3>부작용 결과 조회</h3>
            <form class="date_input_wrapper" method="GET">
              <div class="date_and_button_wrapper">
                <div>
                  <input class="input_date" type="date" data-placeholder="날짜 선택" name="start_date" id="start_date" />
                  <span>&nbsp;&nbsp;~&nbsp;&nbsp;</span>
                  <input class="input_date" type="date" data-placeholder="날짜 선택" name="end_date" id="end_date" />
                </div>
                <button id="select_date_button">조회</button>
              </div>
            </form>
          </div>

          <div class="status_container">
            <div class="bg_white_round item_status">
              <h3>한달간 부작용 빈도</h3>
            {% if pid|default_if_none:'' %}
              <div class="pie_chart">
                <div class="chart_title sideEffect_chart_title">
                  <p>부작용 빈도</p>
                  <b>{{ per_side }}%</b>
                </div>
                <div class="chart_bg"></div>
                <canvas id="mySideEffectFreq"></canvas>
              </div>
              {% endif %}
            </div>
            <div class="bg_white_round item_status">
              <h3>한달간 부작용 종류</h3>
              {% if pid  %}
              <div class="pie_chart" id="chart_mySideEffectType">
                <div class="chart_title" id="title_mySideEffectType">
                  <p>주 부작용</p>
                  <b id="chart_main_sideeffect"></b>
                </div>
                <canvas id="mySideEffectType"></canvas>
              </div>
              {% endif %}
            </div>
          </div>

        <div class="severity_area">
          <form id="side_effect_boxes" method="GET">
            {% for se in side_effect_static.items %}
              <div class="side_effect_wrapper">
                <input type="submit" name="side_effect" id="btn_{{ se.0 }}" value="{{ se.0 }}"
                  class="bg_white_round side_effect_box
                  {% if se.0 == side_effect %} active {% endif %}" />
                {% if se.0 == side_effect %}
                  <label for="btn_{{ se.0 }}"><img src="{% static 'media/icons/side_effect_' %}{{ forloop.counter }}_on.png" /></label>
                {% else %}
                  <label for="btn_{{ se.0 }}"><img src="{% static 'media/icons/side_effect_' %}{{ forloop.counter }}.png" /></label>
                {% endif %}
                {% if se.1 != 0 %}
                  <div class="blue_dot"> </div>
                {% endif %}
              </div>
            {% endfor %}
          </form>

          <div id="bar_charts">
            <div class="severity_box bg_white_round">
              <div class="bar_chart_header">
                <h3> 각 부작용 강도 </h3>
                <div class="bar_chart_buttons">
                  <button id="severity_btn_weekly" name="weekly" class="bar_chart_button_weekly btn_active">주간</button>
                  <button id="severity_btn_daily" name="daily" class="bar_chart_button_daily">일간</button>
                </div>
              </div>
              <div class="bar_chart">
                
                <canvas id="mySeverityChart"></canvas>
              </div>
            </div>
            <div class="severity_box bg_white_round">
              <div class="bar_chart_header">
                <h3> 각 부작용 빈도 </h3>
                <div class="bar_chart_buttons">
                  <button id="frequency_btn_weekly" name="weekly" class="bar_chart_button_weekly btn_active">주간</button>
                  <button id="frequency_btn_daily" name="daily"  class="bar_chart_button_daily">일간</button>
                </div>
              </div>
              <div class="bar_chart">
                
                <canvas id="myFrequencyChart"></canvas>
              </div>
            </div>
          </div>
        </div>

      </section>
    </main>
  
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <script>

      // nav 바에서 환자 선택이 안된 채로 도말배양 메뉴 클릭 시 예외처리 함수 --> 작동이안됨!@!
      function noPatientException() {
        alert("환자를 먼저 선택해주세요")
        return;
      }

      // 환자 목록 위치 고정
      const searchInput = document.getElementById('myInput');
      const patientList = document.getElementById("myUL");
      function scrollFix() {
        const setScrollY = patientList.scrollTop;
        sessionStorage.setItem("scrollY", setScrollY);
      }

      patientList.addEventListener("click", scrollFix);
      document.addEventListener("DOMContentLoaded", () => {
        const scrollY = parseInt(sessionStorage.getItem("scrollY"));
        if(scrollY && scrollY > 0){
          patientList.scrollTo(0, scrollY);
        };

        const searchPatient = sessionStorage.getItem("search");
        if (searchPatient != null) {
          searchInput.value = searchPatient;
          patientFilter(searchPatient);
        }
        
        // 이름순 / 번호순 색깔넣는거도 세션스토리지에서 찾아와서...
        const sortBy = sessionStorage.getItem("sortBy");
        if (sortBy === null || sortBy === "id") {
          document.querySelector(`#sort_by_id_btn`).classList = "active"
          document.querySelector(`#sort_by_name_btn`).classList = ""
        } else {
          document.querySelector(`#sort_by_name_btn`).classList = "active"
          document.querySelector(`#sort_by_id_btn`).classList = ""
        }
      });

      function patientFilter(name) {
        var li = patientList.getElementsByTagName('li');
        for (i = 0; i < li.length; i++) {
          const a = li[i].getElementsByTagName("a")[0];
          const txtValue = a.textContent || a.innerText;
          if (txtValue.indexOf(name) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
        }

        scrollFix();
        sessionStorage.setItem("search", name);
     }

    
     // 환자 이름 필터링
     searchInput.addEventListener("keyup", (e) => patientFilter(e.target.value));

     // 이름순 / 번호순 sort
     const sortByNameBtn = document.querySelector("#sort_by_name_btn")
     const sortByIdBtn = document.querySelector("#sort_by_id_btn")

     function handleSortBtnClick(e) {
        sortByNameBtn.classList = ""
        sortByIdBtn.classList = ""
        sessionStorage.setItem("sortBy", e.target.name)
        e.target.classList.add("active")

        const queryString = window.location.search;

        if (!queryString) {
          window.history.replaceState({}, '', `?sort=${e.target.name}`);
        } else {
          const updatedQueryString = queryString.includes("sort=")
              ? queryString.replace(/sort=[^&]+/, `sort=${e.target.name}`)
              : `${queryString}&sort=${e.target.name}`;
            window.history.replaceState({}, "", updatedQueryString);
        }
        window.location.reload()
     }

     sortByNameBtn.addEventListener("click", handleSortBtnClick)
     sortByIdBtn.addEventListener("click", handleSortBtnClick)


    // 도넛 차트
  
    const sef = document.getElementById("mySideEffectFreq");
    let sefValue;
    {% if per_side %} {
      sefValue =  {{ per_side|escapejs }};
    }
    {% endif %}

    var mySideEffectFreq = new Chart(sef, {
      type: 'doughnut',
      data: {
        datasets: [{
          data: [sefValue, 100 - sefValue],
          backgroundColor: ['#2E65F3', '#DCECFB'],
          borderWidth: 0,
          borderRadius: 30,
        }]
      },
      options: {
        cutout: '75%',
        responsive: false,
        plugins: {
          tooltip : false
        }
      }
    });
  
    const set = document.getElementById("mySideEffectType");
    let setValue = {};

     {% if side_effect_static %}
      setValue = {{ side_effect_static|safe }}
     {% endif %}

    let sideEffectLabels = [];
    let sideEffectPercents = [];

    for (const key in setValue) {
      console.log("key", key)
      if (setValue[key] !== 0) {
        sideEffectLabels.push(key);
        sideEffectPercents.push(setValue[key]);
      }
    }

    var mySideEffectType = new Chart(set, {
      type: 'doughnut',
      data: {
        labels: [...sideEffectLabels],
        datasets: [{
          labels: [...sideEffectLabels],
          data: sideEffectPercents.length > 0 ? [...sideEffectPercents] : [0,0,0,100],
          backgroundColor: [
            '#2E65F3',
            '#2E65F3CC',
            '#2E65F380',
            '#DCECFB'
          ],
          borderWidth: 0,
          borderRadius: 0,
          scaleBeginAtZero: true,
        }]
      },
      options: {
        cutout: '75%',
        responsive: false,
        plugins: {
          tooltip : {
            callbacks : {
              label: function (context) {
                return context.label + ': ' + context.parsed + '%';
              },
              labelTextColor: function (tooltipItem, chart) {
                return 'rgba(255,255,255,1)'
              }
            },
            backgroundColor: 'rgb(0,0,0)',
            bodyFont: {
              size: 13
            }
          },
          legend: {
            display: false
          }
        }
      }
    });


    const mainSideEffectElement = document.getElementById("chart_main_sideeffect")
    
    if (sideEffectPercents.length > 0) {
      const modePercentOfSideEffect = sideEffectPercents.reduce((acc, curr)=> acc > curr ? acc : curr)
      const modeSideEffect = sideEffectLabels[sideEffectPercents.indexOf(modePercentOfSideEffect)]
        mainSideEffectElement.innerHTML = modeSideEffect
    } else {
      mainSideEffectElement.innerHTML = "부작용 없음"
    }

    // 도넛 차트끝

    // 주간 / 일간 버튼 --> 세션스토리지에 저장 / 가져오기
    const chartRange = sessionStorage.getItem("chartRange")

    const severity_w_btn = document.querySelector(`#severity_btn_weekly`)
    const severity_d_btn = document.querySelector(`#severity_btn_daily`)

       // 초기에는 세션에 저장안돼있음 = default로 주간
    if (chartRange === null || chartRange === "weekly") {
      severity_w_btn.classList = "btn_active"
      severity_d_btn.classList = ""
    } else {
      severity_d_btn.classList = "btn_active"
      severity_w_btn.classList = ""
    }

    function handleRangeBtnClick(e) {
      severity_w_btn.classList = ""
      severity_d_btn.classList = ""
      sessionStorage.setItem("chartRange", e.target.name)
      e.target.classList.add("btn_active")
    }

    severity_w_btn.addEventListener("click", handleRangeBtnClick)
    severity_d_btn.addEventListener("click", handleRangeBtnClick)

    // 바 차트

    const monthlySeverity = {{ monthly_severity|safe }}

    const dataSet = Object.entries(monthlySeverity)

    const severity = document.getElementById("mySeverityChart");
    var mySideEffectType = new Chart(severity, {
      type: 'bar',
      data: {
        labels: dataSet.map(([day,value]) => day),
        datasets: [{
          data: dataSet.map(([day,value])=> value?.frequency),
          backgroundColor: [
            '#2E65F3',
            '#2E65F3CC',
            '#2E65F380',
            '#DCECFB'
          ],
          borderWidth: 0,
          borderRadius: 0,
          scaleBeginAtZero: true,
        }]
      },
      options: {
        responsive: true,
        scales: {
          y: {
            ticks: {
              stepSize: 1
            }
          }
        },
        plugins: {
          tooltip : {
            callbacks : {
              //label: function (context) {
              //  return context.toString()
              // },
              labelTextColor: function (tooltipItem, chart) {
                return 'rgba(255,255,255,1)'
              }
            },
            backgroundColor: 'rgb(0,0,0)',
            bodyFont: {
              size: 13
            }
          },
          legend: {
            display: false
          }
        }
      }
    });

    const frequency = document.getElementById("myFrequencyChart");
    var mySideEffectType = new Chart(frequency, {
      type: 'bar',
      data: {
        labels: dataSet.map(([day,value]) => day),
        datasets: [{
          data: dataSet.map(([day,value])=> value?.intensity),
          backgroundColor: [
            '#2E65F3',
            '#2E65F3CC',
            '#2E65F380',
            '#DCECFB'
          ],
          borderWidth: 0,
          borderRadius: 0,
          scaleBeginAtZero: true,
        }]
      },
      options: {
        responsive: true,
        scales: {
          y: {
            ticks: {
              stepSize: 1
            }
          }
        },
        plugins: {
          tooltip : {
            callbacks : {
              //label: function (context) {
              //  return context.toString()
              // },
              labelTextColor: function (tooltipItem, chart) {
                return 'rgba(255,255,255,1)'
              }
            },
            backgroundColor: 'rgb(0,0,0)',
            bodyFont: {
              size: 13
            }
          },
          legend: {
            display: false
          }
        }
      }
    });


    </script>
{% endblock %}