<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/manager_dashboard.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>결핵 환자 정보 대쉬보드</title>
  </head>

  <body>
    <header>
      <img id="img_logo" src={% static 'media/images/logo_hospital.png' %} alt="logo_hospital">
      <div id="header_right">
        {% if user.is_active %}
          <p>{{ user.profile.nickname }}({{ user.profile.hospital.code }})</p>
          <a id="btn_logout" href="{% url 'logout' %}">
            <span id="icon_logout" class="material-symbols-outlined">logout</span>
            <p id="txt_logout">로그아웃</p>
          </a>
        {% endif %}
      </div>
    </header>
    
    <main>
      <nav>
        <button onclick="location.href='{% url 'web_menu' %}'">
          <span id="icon_nav" class="material-symbols-outlined active">home</span>
        </button>
      </nav>
  
      <section>
        <div>
          <h2>환자 복약 현황</h2>
        </div>
        <div class="grid_container">
          <div class="item search-sidebar">
            <input type="text" id="myInput" class="bg_white_round" placeholder="환자 이름 혹은 번호를 입력하세요.">
            <div id="sort_button_wrapper">
              <button id="sort_by_name_btn" name="name">이름순</button>
              <button id="sort_by_code_btn" name="code" class="active">등록순</button>
            </div>
            <ul id="myUL" class="bg_white_round">
              {% for patient in patientlist %}
                <li class="li_patient" name={{patient.name}}>
                  <input id="radio_patient" type="radio" name="radio" value={{ patient.id }} 
                    onclick="location.href='{% url 'patient_status' patient.id %}'"
                    {% if pid == patient.id %} checked {% endif %}>
                  <a href="{% url 'patient_status' patient.id %}" id="btn_patient" for="radio_patient">
                    <span class="txt_black">{{ patient.name }}</span> 
                    <span class="txt_lightgray">{{ patient.code_hyphen }}</span>
                    <span style="display: none;">{{ patient.code }}</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
  
          <div class="item status_container">
            <div class="bg_white_round item_status grid_progress">
              {% for p in clickedpatient %}
                <h3 class="item_progress">{{ p.name }}({{ p.code_hyphen }})님</h3>
                <div class="item_progress">다음 내원 예정일 : {{ p.next_visiting_date_time | date:"y.m.d" }}</div>
                <div id="myProgress" class="item_progress">
                  <div id="myBar"></div>
                </div>
                <div class="item_progress">{{ p.treatment_started_date | date:"y.m.d" }} 치료 시작</div>
                <div class="item_progress">{{ p.treatment_end_date }}에 치료가 종료될 예정입니다.</div>
              {% endfor %}
            </div>
            <div class="bg_white_round item_status">
              <h3>복약 빈도</h3>
              {% if pid %}
              <div class="chart">
                <div class="chart_title">
                  <p>최근 30회 기준</p>
                  <b>총 {{ count_succ }}회 복용</b>
                </div>
                <div class="chart_bg"></div>
                <canvas id="myMedication"></canvas>
              </div>
              {% endif %}
            </div>
            <div class="bg_white_round item_status">
              <h3>부작용 빈도</h3>
              {% if pid %}
              <div class="chart">
                <div class="chart_title">
                  <p>부작용 빈도</p>
                  <b>{{ per_side }}%</b>
                </div>
                <div class="chart_bg"></div>
                <canvas id="mySideEffectFreq"></canvas>
              </div>
              {% endif %}
            </div>
            <div class="bg_white_round item_status">
              <h3>부작용 종류</h3>
              {% if pid %}
              <div class="chart">
                <div class="chart_title">
                  <p>주 부작용</p>
                  <b>구토</b>
                </div>
                <canvas id="mySideEffectType"></canvas>
              </div>
              {% endif %}
            </div>
          </div>
  
          {% comment %} <div class="bg_white_round item remain">
            <h3>남은 복약 횟수</h3>
            {% for p in clickedpatient %}
            <h1> {{ remain }} / {{ p.daily_medication_count }}회</h1>
            {% endfor %}
          </div> {% endcomment %}
  
          <div class="bottom_container" >
            <div class="bg_white_round item manage_current">
              <h3>주간 관리</h3>
              <div class="legend">
                <div class="success"></div> <span>복용</span>
                <div class="sideeffect"></div> <span>부작용</span>
              </div>

              <div class="week_status">
              <div class="manage_date">
                {% for p in clickedpatient %}
                <button class="btn_date" onclick="location.href='{% url 'patient_status' pid %}?{{ prev_week }}'">
                  <span class="material-symbols-outlined">chevron_left</span>
                </button>
                {% for day in day_list %}
                  <span class="day">{{ day }}</span>
                {% endfor %}
                <button class="btn_date" onclick="location.href='{% url 'patient_status' pid %}?{{ next_week }}'">
                  <span class="material-symbols-outlined">chevron_right</span>
                </button>
                {% endfor %}
              </div>
              <div class="line_status"></div>
              <div class="manage_status">
                {% for result in mdresult %}
                  {% if not result.medication %}
                  <div class="status"><div class="empty">{{result.medication}}/{{result.total}}</div></div>
                  {% elif result.sideeffect %}
                  <div class="status">
                    <div class="success sideeffect">{{result.medication}}/{{result.total}}</div>
                    {% comment %} ! 도말/객담상자 {% endcomment %}
                    <div class="sputum_box"> <span>1+</span></div>
                    {% if result.sideeffect|length == 1 %}
                    <span>{{result.sideeffect | first}}</span>
                    {% else %}
                    <span>{{result.sideeffect | first}} 외 {{result.sideeffect | length | add:-1}}건</span>
                    {% endif %}
                  </div>
                  {% else %}
                  <div class="status">
                    {% if result.medication == result.total %}
                    <div class="success">
                    {% comment %} ! 도말/객담상자 {% endcomment %}
                    <div class="sputum_box"> <span>음성</span></div>
                    {% else %}
                    <div class="unfinished">
                      {% endif %}
                      {{result.medication}}/{{result.total}}
                    </div>
                    {% comment %} ! 도말/객담상자 {% endcomment %}
                  <div class="sputum_box"> <span>음성</span></div>
                  </div>
                  {% endif %}
                {% empty %}
                  {% for _ in ""|rjust:"7" %}
                  <div class="status"><div class="empty"></div></div>
                  {% endfor %}
                {% endfor %}
              </div>
            </div>
          </div>

            <div class="bottom_calendar bg_white_round">
              <h3>월간 관리</h3>
              <div class="monthly_icon_box legend">
                <div class="success"></div> <span>복용</span>
                <div class="sideeffect"></div> <span>부작용</span>
              </div>
              <div id="cure_manage_calendar">
                <ul id="cure_manage_year">
                  <li class="prev">
                    {% comment %} <a href="{% url 'patient_dashboard_by_day' prev_year prev_month day %}"> {% endcomment %}
                      <a href="">
                      <span class="material-symbols-outlined">chevron_left</span>
                    </a>
                  </li>
                  <li id="txt_cure_manage_year">
                    {{year}}년 {{month}}월
                  </li>
                  <li class="next">
                    {% comment %} <a href="{% url 'patient_dashboard_by_day' next_year next_month day %}"> {% endcomment %}
                      <a href="">
                      <span class="material-symbols-outlined">chevron_right</span>
                    </a>
                  </li>
                </ul>
              
                <ul id="weekdays">
                  <li>일</li>
                  <li>월</li>
                  <li>화</li>
                  <li>수</li>
                  <li>목</li>
                  <li>금</li>
                  <li>토</li>
                </ul>
              
                <div id="days">
                  <ul>
                    {% for i in day_of_the_week_list%}
                    <li></li>
                    {% endfor %}
                    {% for day in calendar_day_list%}
                    <li>
                      {% comment %} <a class="day_of_the_week" href="{% url 'patient_dashboard_by_day' year month day %}"> {% endcomment %}
                        {% if day in today %}
                        <span id="today">{{day}}</span>
                        {% else %}
                        {{day}}
                        {% endif %}
                        {% if day in visit_list %}
                        <div id="visit"></div>
                        {% endif %}
                        {% if day in md_success_list %}
                        <div id="success"></div>
                        {% endif %}
                        {% if day in md_side_effect_list %}
                        <div id="sideeffect"></div>
                        {% endif %}
                      {% comment %} </a>     {% endcomment %}
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <script>
      const searchInput = document.getElementById('myInput');

      // 환자 목록 위치 고정
      const patientList = document.getElementById("myUL");
      function scrollFix() {
        const setScrollY = patientList.scrollTop;
        sessionStorage.setItem("scrollY", setScrollY);
      }

      patientList.addEventListener("click", scrollFix);
      document.addEventListener("DOMContentLoaded", () => {
        const scrollY = parseInt(sessionStorage.getItem("scrollY"));
        if(scrollY && scrollY > 0){
          patientList.scrollTo(0, scrollY);
        };

        const searchPatient = sessionStorage.getItem("search");
        if (searchPatient != null) {
          searchInput.value = searchPatient;
          patientFilter(searchPatient);
        }
      });

      function patientFilter(name) {
        var li = patientList.getElementsByTagName('li');
        for (i = 0; i < li.length; i++) {
          const a = li[i].getElementsByTagName("a")[0];
          const txtValue = a.textContent || a.innerText;
          if (txtValue.indexOf(name) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
        }

        scrollFix();
        sessionStorage.setItem("search", name);
     }

    
     // 환자 이름 필터링
     searchInput.addEventListener("keyup", (e) => patientFilter(e.target.value));

     document.getElementById("myBar").style.width = "{{p_str}}%";
     document.getElementById("myBar").style.width = "{{cure_progress}}%";

     // 이름순 / 번호순 sort
     const sortByNameBtn = document.querySelector("#sort_by_name_btn")
     const sortByCodeBtn = document.querySelector("#sort_by_code_btn")
     {% comment %} sessionStorage.setItem("sortBy", "code") {% endcomment %}
     
     function handleSortBtnClick(e) {
        sortByNameBtn.classList = ""
        sortByCodeBtn.classList = ""
        e.target.classList.add("active")

        const queryString = window.location.search;

        if (!queryString) {
          window.history.replaceState({}, '', `?sort=${e.target.name}`);
        } else {
          const updatedQueryString = queryString.replace(/sort=[^&]+/, `sort=${e.target.name}`);
          window.history.replaceState({}, '', updatedQueryString);
        }
     }

     sortByNameBtn.addEventListener("click", handleSortBtnClick)
     sortByCodeBtn.addEventListener("click", handleSortBtnClick)


  
     // chart
     const medi = document.getElementById("myMedication");
     const mediValue = {{ per_succ }};
     var myMedication = new Chart(medi, {
      type: 'doughnut',
      data: {
        datasets: [{
          data: [mediValue, 100-mediValue],
          backgroundColor: ['#2E65F3', '#DCECFB00'],
          borderWidth: 0,
          borderRadius: 10,
        }]
      },
      options: {
        cutout: '75%',
        responsive: false,
      }
    });
  
    const sef = document.getElementById("mySideEffectFreq");
    const sefValue = {{ per_side }};
    var mySideEffectFreq = new Chart(sef, {
      type: 'doughnut',
      data: {
        datasets: [{
          data: [sefValue, 100-sefValue],
          backgroundColor: ['#2E65F3', '#DCECFB00'],
          borderWidth: 0,
          borderRadius: 30,
        }]
      },
      options: {
        cutout: '75%',
        responsive: false,
      }
    });
  
    const set = document.getElementById("mySideEffectType");
    const setValue = [40, 20, 20, 20];
    var mySideEffectType = new Chart(set, {
      type: 'doughnut',
      data: {
        datasets: [{
          data: [...setValue],
          backgroundColor: [
            '#2E65F3',
            '#2E65F3CC',
            '#2E65F380',
            '#DCECFB'
          ],
          borderWidth: 0,
          scaleBeginAtZero: true,
        }]
      },
      options: {
        cutout: '75%',
        responsive: false,
      }
    });
    </script>
  </body>
</html>
