<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="{% static 'css/manager_inspection.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>결핵 환자 정보 대쉬보드</title>
  </head>

  <body>
    <header>
      <img id="img_logo" src={% static 'media/images/logo_hospital.png' %}
      alt="logo_hospital">
      <div id="header_right">
        {% if user.is_active %}
        <p>{{ user.profile.nickname }}({{ user.profile.hospital.code }})</p>
        <a id="btn_logout" href="{% url 'logout' %}">
          <span id="icon_logout" class="material-symbols-outlined">logout</span>
          <p id="txt_logout">로그아웃</p>
        </a>
        {% endif %}
      </div>
    </header>

    <main>
      <nav>
        {% if pid|default_if_none:'' %}
        <button onclick="location.href='{% url 'patient_status' pid %}'">
          {% else %}
          <button onclick="location.href='{% url 'user_dashboard' %}'">
        {% endif %}
          <div class="icon_wrapper">
            <img class="nav_icon" src={% static "media/icons/chart.png" %}
            alt="차트" />
          </div>
          <span>대시보드</span>
        </button>
        {% if pid|default_if_none:'' %}
        <button onclick="location.href='{% url 'patient_inspection' pid %}'">
          <div class="icon_wrapper active">
            <img class="nav_icon" src={% static "media/icons/lungs_on.png" %}
            alt="폐" />
          </div>
          <span>도말배양</span>
        </button>
        {% else %}
        <button onclick="location.href='{% url 'inspection' %}'">
          <div class="icon_wrapper active">
            <img class="nav_icon" src={% static "media/icons/lungs_on.png" %}
            alt="폐" />
          </div>
          <span>도말배양</span>
        </button>
        {% endif %}
        <button onclick="location.href='{% url 'web_menu' %}'">
          <div class="icon_wrapper">
            <img class="nav_icon" src={% static "media/icons/left up.png" %}
            alt="돌아가기" />
          </div>
          <span>메뉴선택</span>
        </button>
      </nav>

      <section>
        <div>
          <h2>환자 복약 현황</h2>
        </div>
        <div class="grid_container">
          <div class="item search-sidebar">
            <input
              type="text"
              id="myInput"
              class="bg_white_round"
              placeholder="환자 이름 혹은 번호를 입력하세요."
            />
            <div id="sort_button_wrapper">
              <button id="sort_by_name_btn" name="name">이름순</button>
              <button id="sort_by_id_btn" name="id" class="active">등록순</button>
            </div>
            <ul id="myUL" class="bg_white_round">
              {% for patient in patientlist %}
                <li class="li_patient" name={{patient.name}}>
                  <input id="radio_patient" type="radio" name="radio" value={{ patient.id }} 
                    onclick="location.href='{% url 'patient_inspection' patient.id %}'"
                    {% if pid == patient.id %} checked {% endif %}>
                  <a href="{% url 'patient_inspection' patient.id %}" id="btn_patient" for="radio_patient">
                    <div>
                      <span class="txt_black">{{ patient.name }}</span>
                      <span class="patient_meta {% if patient.gender == '남성' %}male{% elif patient.gender == '여성' %}female{% endif %}">
                        ({{ patient.gender|default:"성별" }}) {{ patient.birth|default:"생년월일" }}
                      </span>
                    </div>
                    <span class="txt_lightgray">{{ patient.code_hyphen }}</span>
                    <span style="display: none;">{{ patient.code }}</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div id="select_date" class="bg_white_round">
            <h3>검사 결과 조회</h3>
            <form class="date_input_wrapper" method="GET">
              <div class="date_and_button_wrapper">
                <div>
                  <input class="input_date" type="date" data-placeholder="날짜 선택" name="start_date" id="start_date" />
                  <span>&nbsp;&nbsp;~&nbsp;&nbsp;</span>
                  <input class="input_date" type="date" data-placeholder="날짜 선택" name="end_date" id="end_date" />
                </div>
                <button id="select_date_button">조회</button>
              </div>
            </form>
          </div>
          <div id="inspection_main" class="bg_white_round">
            {% if pid|default_if_none:''  %}
            <div id="inspection_title">
              {% for p in clickedpatient %}
              <div>
                <b>{{ p.name }} ({{p.code_hyphen}})</b> <span>님의 도말 배양 검사 총 <b>{{paginator.count}}</b> 건이 검색되었습니다.
              </div>
              {% endfor %}
              {% csrf_token %}
              <button id="add_inspection_button" onclick="handleModalOpen()">검사 결과 추가</button>
            </div>
            <table id="inspection_table">
              <thead>
                <tr>
                  <th>검사 날짜</th>
                  <th>검체 종류</th>
                  <th>검체 세부 분류</th>
                  <th>도말검사 결과</th>
                  <th>배양검사 결과</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for result in sputum %}
                  <tr>
                    <td>{{ result.insp_date }}</td>
                    <td>{{ result.method }}</td>
                    <td>{{ result.th }}</td>
                    <td>{{ result.smear_result }}</td>
                    <td>{{ result.culture_result }}</td>
                    <td class="td_btn_wrapper">
                      {% comment %} <button class="update_button"> {% endcomment %}
                        <a href="{% url 'patient_inspection_update' pid result.id %}" >
                          <button class="update_button">
                            수정
                          </button>
                          </a>
                      {% comment %} </button> {% endcomment %}
                      <button class="delete_button" onclick="handleDeleteModalOpen({{result.id}})">
                        <span class="material-symbols-outlined">delete</span>
                      </button>
                    </td>
                  </tr>
                {% empty %}
                  <tr class="no_result" rowspan="10"><td colspan="5" >검사 결과가 없습니다</td></tr>
                {% endfor %}
              </tbody>
             </table>
             <div id="pagination_wrapper">
              <form id="pagination">
                {% if sputum.has_previous %}
                  <button name="page" value="{{ sputum.previous_page_number }}">
                {% else %}
                  <button name="page" value="{{ 1 }}">
                {% endif %}

                    <span class="material-symbols-outlined">chevron_left</span>
                  </button>
                {% for i in paginator.page_range %}
                    <button name="page" value="{{ i }}">
                      {{ i }}
                    </button>
                {% endfor %}

                {% if sputum.has_next %}
                  <button name="page" value="{{ sputum.next_page_number }}">
                {% else %}
                  <button name="page" value="{{ paginator.page_range|last }}">
                {% endif %}
                    <span class="material-symbols-outlined">chevron_right</span>
                  </button>
              </form>
             </div>
            {% else %}
            <div> 환자를 선택해 주세요 </div>
            {% endif %}
          </div>
        </div>
      </section>
      <dialog id="add_modal">
        <div class="modal_title">
          <h3>검사 결과 추가</h3>
          <button>
            <span class="material-symbols-outlined">close</span>
          </button>
        </div>
        {% comment %} <form action="{% url 'patient_inspection_create' pid=pid %}" class="modal_inner" method="POST"> {% endcomment %}
        <form class="modal_inner" method="POST">
          <div class="modal_row">
            <h3 class="modal_left">검사 날짜</h3>
            <div class="modal_right">
              {% comment %} <label>
                <input type="radio" checked class="input_radio" name="insp_date" value={{ today }} />
                <span>오늘</span>
              </label> {% endcomment %}
              <label>
                <input type="radio" class="input_radio" name="insp_date" checked/>
                <input type="date" data-placeholder="날짜 선택" class="input_date" id="modal_date" value={{ today }} name="insp_date" />
              </label>
            </div>
          </div>
          <div class="modal_row">
            <h3 class="modal_left">검사 종류</h3>
            <div class="modal_right">
              <label>
                <input type="radio" value="객담" checked class="input_radio" name="method" />
                <span>객담</span>
              </label>
              <label>
                <input type="radio" value="기관지내시경 검체" class="input_radio" name="method" />
                <span>기관지내시경 검체</span>
              </label>
              <label>
                <input type="radio" value="기타" class="input_radio" name="method" />
                <span>기타</span>
              </label>
            </div>
          </div>
          <div class="modal_row">
            <h3 class="modal_left">검사 세부 분류</h3>
            <div class="modal_right">
              <label>
                <input type="radio" value="1차" checked class="input_radio" name="th" />
                <span>1차</span>
              </label>
              <label>
                <input type="radio" value="2차" class="input_radio" name="th" />
                <span>2차</span>
              </label>
              <label>
                <input type="radio" value="3차" class="input_radio" name="th" />
                <span>3차</span>
              </label>
            </div>
          </div>
          <div class="modal_row">
            <h3 class="modal_left">도말검사 결과</h3>
            <div class="modal_right">
              <label>
              <input type="radio" value="-" checked class="input_radio" name="smear_result" />
                <span>-</span>
              </label>
              <label>
              <input type="radio" value="+-" class="input_radio" name="smear_result" />
                <span>+-</span>
              </label>
              <label>
                <input type="radio" value="1+" class="input_radio" name="smear_result" />
                <span>1+</span>
              </label>
              <label>
                <input type="radio" value="2+" class="input_radio" name="smear_result" />
                <span>2+</span>
              </label>
              <label>
                <input type="radio" value="3+" class="input_radio" name="smear_result" />
                <span>3+</span>
              </label>
              <label>
                <input type="radio" value="4+" class="input_radio" name="smear_result" />
                <span>4+</span>
              </label>
              <label>
                <input type="radio" value="검사중" class="input_radio" name="smear_result" />
                <span>검사중</span>
              </label>
              <label>
                <input type="radio" value="미시행" class="input_radio" name="smear_result" />
                <span>미시행</span>
              </label>
            </div>
          </div>
          <div class="modal_row">
            <h3 class="modal_left">배양검사 결과</h3>
            <div class="modal_right">
              <label>
                <input type="radio" value="검사중" checked class="input_radio" name="culture_result" />
                <span>검사중</span>
              </label>
              <label>
                <input type="radio" value="미시행" class="input_radio" name="culture_result" />
                <span>미시행</span>
              </label>
              <label>
                <input type="radio" value="양성" class="input_radio" name="culture_result" />
                <span>양성</span>
              </label>
              <label>
                <input type="radio" value="음성" class="input_radio" name="culture_result" />
                <span>음성</span>
              </label>
              <label>
                <input type="radio" value="오염" class="input_radio" name="culture_result" />
                <span>오염</span>
              </label>
            </div>
          </div>
          {% csrf_token %}
          <button type="submit" id="modal_submit">추가하기</button>
          </form>
        </div>
      </dialog>
      <dialog id="delete_modal">
        {% comment %} <form method="POST"> {% endcomment %}
        <input type="hidden" name="sputum_id" value="">
        <div id="delete_modal_inner">
          {% csrf_token %}
          <h3>해당 검사 결과를 삭제하시겠습니까? </h3>
            <div id="modal_btn_wrapper">
              <button onclick="deleteInspection()" id="delete_confirm_button">삭제하겠습니다</button>
              <button id="delete_cancel_button">삭제하지 않겠습니다</button>
            </div>
          </div>
        {% comment %} </form> {% endcomment %}
      </dialog>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <script>
      // 환자 목록 위치 고정
      const searchInput = document.getElementById("myInput");
      const patientList = document.getElementById("myUL");
      function scrollFix() {
        const setScrollY = patientList.scrollTop;
        sessionStorage.setItem("scrollY", setScrollY);
      }

      patientList.addEventListener("click", scrollFix);
      document.addEventListener("DOMContentLoaded", () => {
        const scrollY = parseInt(sessionStorage.getItem("scrollY"));
        if (scrollY && scrollY > 0) {
          patientList.scrollTo(0, scrollY);
        }

        const searchPatient = sessionStorage.getItem("search");
        if (searchPatient != null) {
          searchInput.value = searchPatient;
          patientFilter(searchPatient);
        }

        // 이름순 / 번호순 색깔넣는거도 세션스토리지에서 찾아와서...
        const sortBy = sessionStorage.getItem("sortBy");
        if (sortBy === null || sortBy === "id") {
          document.querySelector(`#sort_by_id_btn`).classList = "active";
          document.querySelector(`#sort_by_name_btn`).classList = "";
        } else {
          document.querySelector(`#sort_by_name_btn`).classList = "active";
          document.querySelector(`#sort_by_id_btn`).classList = "";
        }
      });

      function patientFilter(name) {
        var li = patientList.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
          const a = li[i].getElementsByTagName("a")[0];
          const txtValue = a.textContent || a.innerText;
          if (txtValue.indexOf(name) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
        }

        scrollFix();
        sessionStorage.setItem("search", name);
      }

      // 환자 이름 필터링
      searchInput.addEventListener("keyup", (e) => patientFilter(e.target.value));

      // 이름순 / 번호순 sort
      const sortByNameBtn = document.querySelector("#sort_by_name_btn");
      const sortByIdBtn = document.querySelector("#sort_by_id_btn");

      function handleSortBtnClick(e) {
        sortByNameBtn.classList = "";
        sortByIdBtn.classList = "";
        sessionStorage.setItem("sortBy", e.target.name);
        e.target.classList.add("active");

        const queryString = window.location.search;

        if (!queryString) {
          window.history.replaceState({}, "", `?sort=${e.target.name}`);
        } else {
          const updatedQueryString = queryString.includes("sort=")
            ? queryString.replace(/sort=[^&]+/, `sort=${e.target.name}`)
            : `${queryString}&sort=${e.target.name}`;
          window.history.replaceState({}, "", updatedQueryString);
        }
        window.location.reload();
      }

      sortByNameBtn.addEventListener("click", handleSortBtnClick);
      sortByIdBtn.addEventListener("click", handleSortBtnClick);


      // 날짜 인풋
      const dateInputs = document.querySelectorAll(".input_date")
      const today = new Date()
      dateInputs.value = today.toISOString().slice(0,10)

      // 리렌더링 시 날짜 인풋 채워넣기
      const urlStartDate = (new URLSearchParams(location.search).get("start_date"));
      const urlEndDate = (new URLSearchParams(location.search).get("end_date"));
      const startInput = document.getElementById("start_date")
      startInput.value=urlStartDate
      const endInput = document.getElementById("end_date")
      endInput.value=urlEndDate

      // 입력 모달 열기함수
      const modal = document.querySelector("#add_modal")
      function handleModalOpen() {
        modal.showModal()
      }
            
      // 모달밖 누르면 모달 close
      modal.addEventListener('click', (e) => {
        if(e.target === e.currentTarget) {
          modal.close()
        };
      })

      // X 버튼 눌러서 닫기
      const closeBtn = document.querySelector(".modal_title>button")
      closeBtn.addEventListener("click", handleModalClose)
      function handleModalClose() {
        modal.close()
      }

      // 삭제 모달 열기함수
      const deleteModal = document.querySelector("#delete_modal")
      function handleDeleteModalOpen(sputumId) {
        const sputumIdInput = deleteModal.querySelector("input[name='sputum_id']");
        sputumIdInput.value = sputumId;
        console.log(sputumIdInput, "삭제모달!")
        deleteModal.showModal()
      }

      function getCookie() {
        return document.cookie.split('=')[1]
      }

      function deleteInspection() {
        const sputumId = document.querySelector("#delete_modal input[name='sputum_id']").value
        fetch(`/manager/dashboard/inspection/${sputumId}/`, {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'), // CSRF 토큰 추가
            },
        }).then(response => {
            if (response.ok) {
                // 삭제 성공 시 동작
                console.log(response)
            } else {
                // 삭제 실패 시 동작
                console.log(response)
            }
            deleteModal.close(); // 모달 닫기
        });
      }
            
      // 모달밖 누르면 모달 close
      deleteModal.addEventListener('click', (e) => {
        if(e.target === e.currentTarget) {
          deleteModal.close()
        };
      })

      const deleteCancelBtn = document.querySelector("#delete_cancel_button")
      deleteCancelBtn.addEventListener("click", handleDeleteModalClose)
      function handleDeleteModalClose() {
        deleteModal.close()
      }


    </script>
  </body>
</html>

<style>
  .male {
    color: blue;
    /* 남성일 때 글자 색상을 파란색으로 지정 */
  }
  .female {
    color: pink;
    /* 여성일 때 글자 색상을 분홍색으로 지정 */
  }
</style>