{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/manager_inspection.css' %}" />
{% endblock %}
{% block content %}
    <main>
      {% include 'admin_navbar.html' %}
      <section>
        <div>
          <h2>환자 도말배양 검사 현황</h2>
        </div>
        <div class="grid_container">
          {% with origin="patient_inspection" %}
            {% include 'admin_patient_list.html'%}
          {% endwith %}
          <div id="select_date" class="bg_white_round">
            <h3>검사 결과 조회</h3>
            <div class="date_and_button_wrapper">
              <div class="date_input_wrapper">
                <input class="input_date" type="date" data-placeholder="날짜 선택" />
                <span>&nbsp;&nbsp;~&nbsp;&nbsp;</span>
                <input class="input_date" type="date" data-placeholder="날짜 선택" />
              </div>
              <button id="select_date_button">조회</button>
            </div>
          </div>
          <div id="inspection_main" class="bg_white_round">
            {% if pid|default_if_none:''  %}
            <div id="inspection_title">
              {% for p in clickedpatient %}
              <div>
                <b>{{ p.name }} ({{p.code_hyphen}})</b> <span>님의 도말 배양 검사 총 <b>{{sputum|length}}</b> 건이 검색되었습니다.
              </div>
              {% endfor %}
              <button id="add_inspection_button" onclick="handleModalOpen()">검사 결과 추가</button>
            </div>
            <table id="inspection_table">
              <thead>
                <tr>
                  <th>검사 날짜</th>
                  <th>검체 종류</th>
                  <th>검체 세부 분류</th>
                  <th>도말검사 결과</th>
                  <th>배양검사 결과</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for result in sputum %}
                  <tr>
                    <td>{{ result.insp_date }}</td>
                    <td>{{ result.method }}</td>
                    <td>{{ result.th }}</td>
                    <td>{{ result.smear_result }}</td>
                    <td>{{ result.culture_result }}</td>
                    <td class="td_btn_wrapper">
                      <button class="update_button" >수정</button>
                      <button class="delete_button" onclick="handleDeleteModalOpen()">
                        <span class="material-symbols-outlined">delete</span>
                      </button>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
             </table>
             <div id="pagination_wrapper">
              <ul id="pagination">
                <li><span class="material-symbols-outlined">chevron_left</span></li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li><span class="material-symbols-outlined">chevron_right</span></li>
              </ul>
             </div>
            {% else %}
            <div> 환자를 선택해 주세요 </div>
            {% endif %}
          </div>
        </div>
      </section>
      <dialog id="update_modal" open >
        <div class="modal_title">
          <h3>검사 결과 수정</h3>
          <button>
            <a href="{% url 'patient_inspection' pid %}">
              <span class="material-symbols-outlined">close</span>
            </a>
          </button>
        </div>
        <form class="modal_inner" method="POST">
          <div class="modal_row">
            <h3 class="modal_left">검사 날짜</h3>
            <div class="modal_right">
              {% comment %} <label>
                <input type="radio" 
                {% if clicked_sputum.insp_date == "오늘" %}
                checked
                {% endif %}
                class="input_radio" name="insp_date"
                value={{ today }} />
                <span>오늘</span>
              </label> {% endcomment %}
              <label>
                <input type="radio" checked
                {% comment %} {% if clicked_sputum.insp_date != "오늘" %}
                checked
                {% endif %} {% endcomment %}
                class="input_radio" name="insp_date" />
                <input type="date" value="{{ formatted_insp_date }}" data-placeholder="날짜 선택" class="input_date" id="modal_date" name="insp_date" />
              </label>
            </div>
          </div>
          <div class="modal_row">
            <h3 class="modal_left">검사 종류</h3>
            <div class="modal_right">
              <label>
                <input type="radio" value="객담" 
                {% if clicked_sputum.method == "객담" %}
                checked
                {% endif %}
                class="input_radio" name="method" />
                <span>객담</span>
              </label>
              <label>
                <input type="radio" value="기관지내시경 검체"
                {% if clicked_sputum.method == "기관지내시경 검체" %}
                checked
                {% endif %}
                class="input_radio" name="method" />
                <span>기관지내시경 검체</span>
              </label>
              <label>
                <input type="radio" value="기타" 
                {% if clicked_sputum.method == "기타" %}
                checked
                {% endif %}
                class="input_radio" name="method" />
                <span>기타</span>
              </label>
            </div>
          </div>
          <div class="modal_row">
            <h3 class="modal_left">검사 세부 분류</h3>
            <div class="modal_right">
              <label>
                <input type="radio" value="1차"
                {% if clicked_sputum.th == "1차" %}
                checked
                {% endif %}
                class="input_radio" name="th" />
                <span>1차</span>
              </label>
              <label>
                <input type="radio" value="2차"
                {% if clicked_sputum.th == "2차" %}
                checked
                {% endif %}
                class="input_radio" name="th" />
                <span>2차</span>
              </label>
              <label>
                <input type="radio" value="3차"
                {% if clicked_sputum.th == "3차" %}
                checked
                {% endif %}
                class="input_radio" name="th" />
                <span>3차</span>
              </label>
            </div>
          </div>
          <div class="modal_row">
            <h3 class="modal_left">도말검사 결과</h3>
            {{ clicked_sputum.smear_result }}
            <div class="modal_right">
              <label>
              <input type="radio" value="-"
              {% if clicked_sputum.smear_result == "-" %}
              checked
              {% endif %}
              class="input_radio" name="smear_result" />
                <span>-</span>
              </label>
              <label>
              <input type="radio" value="+-"
              {% if clicked_sputum.smear_result == "+-" %}
              checked
              {% endif %}
              class="input_radio" name="smear_result" />
                <span>+-</span>
              </label>
              <label>
                <input type="radio" value="1+"
                {% if clicked_sputum.smear_result == "1+" %}
                checked
                {% endif %}
                class="input_radio" name="smear_result" />
                <span>1+</span>
              </label>
              <label>
                <input type="radio" value="2+"
                {% if clicked_sputum.smear_result == "2+" %}
                checked
                {% endif %}
                class="input_radio" name="smear_result" />
                <span>2+</span>
              </label>
              <label>
                <input type="radio" value="3+"
                {% if clicked_sputum.smear_result == "3+" %}
                checked
                {% endif %}
                class="input_radio" name="smear_result" />
                <span>3+</span>
              </label>
              <label>
                <input type="radio" value="4+"
                {% if clicked_sputum.smear_result == "4+" %}
                checked
                {% endif %}
                class="input_radio" name="smear_result" />
                <span>4+</span>
              </label>
              <label>
                <input type="radio" value="검사중"
                {% if clicked_sputum.smear_result == "검사중" %}
                checked
                {% endif %}
                class="input_radio" name="smear_result" />
                <span>검사중</span>
              </label>
              <label>
                <input type="radio" value="미시행"
                {% if clicked_sputum.smear_result == "미시행" %}
                checked
                {% endif %}
                class="input_radio" name="smear_result" />
                <span>미시행</span>
              </label>
            </div>
          </div>
          <div class="modal_row">
            <h3 class="modal_left">배양검사 결과</h3>
            <div class="modal_right">
              <label>
                <input type="radio" value="검사중"
                {% if clicked_sputum.culture_result == "검사중" %}
                checked
                {% endif %}
                class="input_radio" name="culture_result" />
                <span>검사중</span>
              </label>
              <label>
                <input type="radio" value="미시행"
                {% if clicked_sputum.culture_result == "미시행" %}
                checked
                {% endif %}
                class="input_radio" name="culture_result" />
                <span>미시행</span>
              </label>
              <label>
                <input type="radio" value="양성"
                {% if clicked_sputum.culture_result == "양성" %}
                checked
                {% endif %}
                class="input_radio" name="culture_result" />
                <span>양성</span>
              </label>
              <label>
                <input type="radio" value="음성"
                {% if clicked_sputum.culture_result == "음성" %}
                checked
                {% endif %}
                class="input_radio" name="culture_result" />
                <span>음성</span>
              </label>
              <label>
                <input type="radio" value="오염"
                {% if clicked_sputum.culture_result == "오염" %}
                checked
                {% endif %}
                class="input_radio" name="culture_result" />
                <span>오염</span>
              </label>
            </div>
          </div>
          {% csrf_token %}
          <button type="submit" id="modal_submit">수정하기</button>
          </form>
        </div>
      </dialog>
      
    </main>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
{% endblock %}

<style>
  .male {
    color: blue;
    /* 남성일 때 글자 색상을 파란색으로 지정 */
  }

  .female {
    color: pink;
    /* 여성일 때 글자 색상을 분홍색으로 지정 */
  }
</style>