{% extends 'base.html' %}
{% load static %}
{% block style %}
  <link rel="stylesheet" href="{% static 'css/manager_severity.css' %}" />
{% endblock %}
{% block content %}
    <main>
      {% include 'admin_navbar.html' %}
      <section>
        <div>
          <h2>환자 부작용 현황</h2>
        </div>
        <div class="grid_container">
          {% with origin="patient_severity" %}
            {% include 'admin_patient_list.html' %}
          {% endwith %}
          <!-- 날짜검색창 -->
          <div id="select_date" class="bg_white_round">
            <h3>부작용 결과 조회</h3>
            <form class="date_input_wrapper" method="GET">
              <div class="date_and_button_wrapper">
                <div>
                  <input class="input_date" type="date" data-placeholder="날짜 선택" name="start_date" id="start_date" />
                  <span>&nbsp;&nbsp;~&nbsp;&nbsp;</span>
                  <input class="input_date" type="date" data-placeholder="날짜 선택" name="end_date" id="end_date" />
                </div>
                <button id="select_date_button">조회</button>
              </div>
            </form>
          </div>

          <div class="status_container">
            <div class="bg_white_round item_status">
              <h3>4주간 부작용 빈도</h3>
            {% if pid|default_if_none:'' %}
              <div class="pie_chart">
                <div class="chart_title sideEffect_chart_title">
                  <p>부작용 빈도</p>
                  <b>{{ per_side }}%</b>
                </div>
                <div class="chart_bg"></div>
                <canvas id="mySideEffectFreq"></canvas>
              </div>
              {% endif %}
            </div>
            <div class="bg_white_round item_status">
              <h3>4주간 부작용 종류</h3>
              {% if pid  %}
              <div class="pie_chart" id="chart_mySideEffectType">
                <div class="chart_title" id="title_mySideEffectType">
                  <p>주 부작용</p>
                  <b id="chart_main_sideeffect"></b>
                </div>
                <canvas id="mySideEffectType"></canvas>
              </div>
              {% endif %}
            </div>
          </div>

        <div class="severity_area">
          <form id="side_effect_boxes" method="GET">
            {% for se in side_effect_static.items %}
              <div class="side_effect_wrapper">
                <input type="submit" name="side_effect" id="btn_{{ se.0 }}" value="{{ se.0 }}"
                  class="bg_white_round side_effect_box
                  {% if se.0 == side_effect %} active {% endif %}" />
                {% if se.0 == side_effect %}
                  <label for="btn_{{ se.0 }}"><img src="{% static 'media/icons/side_effect_' %}{{ forloop.counter }}_on.png" /></label>
                {% else %}
                  <label for="btn_{{ se.0 }}"><img src="{% static 'media/icons/side_effect_' %}{{ forloop.counter }}.png" /></label>
                {% endif %}
                {% if se.1 != 0 %}
                  <div class="blue_dot"> </div>
                {% endif %}
              </div>
            {% endfor %}
          </form>

          <div id="bar_charts">
            <div class="severity_box bg_white_round">
              <div class="bar_chart_header">
                <h3> 각 부작용 강도 </h3>
                <div class="bar_chart_legend">
                  <div>
                    <div style="background-color:#CF4545" class="legend_color"></div>
                    <span>매우 심함</span>
                  </div>
                  <div>
                    <div style="background-color:#E3AD96" class="legend_color"></div>
                    <span>심함</span>
                  </div>
                  <div>
                    <div style="background-color:#ECDAC0" class="legend_color"></div>
                    <span>보통</span>
                  </div>
                  <div>
                    <div style="background-color:#DADADA" class="legend_color"></div>
                    <span>약간 있음</span>
                  </div>
                  {% comment %} <div>
                    <div style="background-color:#DADADA" class="legend_color"></div>
                    <span>없음</span>
                  </div> {% endcomment %}
                </div>
              </div>
              <div class="bar_chart">
                
                <canvas id="mySeverityChart"></canvas>
              </div>
            </div>
            <div class="severity_box bg_white_round">
              <div class="bar_chart_header">
                <h3> 각 부작용 빈도 </h3>
                <div class="bar_chart_legend">
                  <div>
                    <div style="background-color:#083098" class="legend_color"></div>
                    <span>거의 항상</span>
                  </div>
                  <div>
                    <div style="background-color:#5E85E9" class="legend_color"></div>
                    <span>자주</span>
                  </div>
                  <div>
                    <div style="background-color:#AABCE9" class="legend_color"></div>
                    <span>가끔</span>
                  </div>
                  <div>
                    <div style="background-color:#DADADA" class="legend_color"></div>
                    <span>드물음</span>
                  </div>
                  {% comment %} <div>
                    <div style="background-color:#DADADA" class="legend_color"></div>
                    <span>없음</span>
                  </div> {% endcomment %}
                </div>
              </div>
              <div class="bar_chart">
                
                <canvas id="myFrequencyChart"></canvas>
              </div>
            </div>
          </div>
        </div>

      </section>
    </main>
  
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <script>

      // nav 바에서 환자 선택이 안된 채로 도말배양 메뉴 클릭 시 예외처리 함수 --> 작동이안됨!@!
      function noPatientException() {
        alert("환자를 먼저 선택해주세요")
        return;
      }

      // 환자 목록 위치 고정
      const searchInput = document.getElementById('myInput');
      const patientList = document.getElementById("myUL");
      function scrollFix() {
        const setScrollY = patientList.scrollTop;
        sessionStorage.setItem("scrollY", setScrollY);
      }

      patientList.addEventListener("click", scrollFix);
      document.addEventListener("DOMContentLoaded", () => {
        const scrollY = parseInt(sessionStorage.getItem("scrollY"));
        if(scrollY && scrollY > 0){
          patientList.scrollTo(0, scrollY);
        };

        const searchPatient = sessionStorage.getItem("search");
        if (searchPatient != null) {
          searchInput.value = searchPatient;
          patientFilter(searchPatient);
        }
        
        // 이름순 / 번호순 색깔넣는거도 세션스토리지에서 찾아와서...
        const sortBy = sessionStorage.getItem("sortBy");
        if (sortBy === null || sortBy === "id") {
          document.querySelector(`#sort_by_id_btn`).classList = "active"
          document.querySelector(`#sort_by_name_btn`).classList = ""
        } else {
          document.querySelector(`#sort_by_name_btn`).classList = "active"
          document.querySelector(`#sort_by_id_btn`).classList = ""
        }
      });

      function patientFilter(name) {
        var li = patientList.getElementsByTagName('li');
        for (i = 0; i < li.length; i++) {
          const a = li[i].getElementsByTagName("a")[0];
          const txtValue = a.textContent || a.innerText;
          if (txtValue.indexOf(name) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
        }

        scrollFix();
        sessionStorage.setItem("search", name);
     }

    
     // 환자 이름 필터링
     searchInput.addEventListener("keyup", (e) => patientFilter(e.target.value));

     // 이름순 / 번호순 sort
     const sortByNameBtn = document.querySelector("#sort_by_name_btn")
     const sortByIdBtn = document.querySelector("#sort_by_id_btn")

     function handleSortBtnClick(e) {
        sortByNameBtn.classList = ""
        sortByIdBtn.classList = ""
        sessionStorage.setItem("sortBy", e.target.name)
        e.target.classList.add("active")

        const queryString = window.location.search;

        if (!queryString) {
          window.history.replaceState({}, '', `?sort=${e.target.name}`);
        } else {
          const updatedQueryString = queryString.includes("sort=")
              ? queryString.replace(/sort=[^&]+/, `sort=${e.target.name}`)
              : `${queryString}&sort=${e.target.name}`;
            window.history.replaceState({}, "", updatedQueryString);
        }
        window.location.reload()
     }

     sortByNameBtn.addEventListener("click", handleSortBtnClick)
     sortByIdBtn.addEventListener("click", handleSortBtnClick)


    // 도넛 차트
  
    const sef = document.getElementById("mySideEffectFreq");
    let sefValue;
    {% if per_side %} {
      sefValue =  {{ per_side|escapejs }};
    }
    {% endif %}

    var mySideEffectFreq = new Chart(sef, {
      type: 'doughnut',
      data: {
        datasets: [{
          data: [sefValue, 100 - sefValue],
          backgroundColor: ['#2E65F3', '#DCECFB'],
          borderWidth: 0,
          // borderRadius: 30,
        }]
      },
      options: {
        cutout: '75%',
        responsive: false,
        plugins: {
          tooltip : false
        }
      }
    });
  
    const set = document.getElementById("mySideEffectType");
    let setValue = {};

     {% if side_effect_static %}
      setValue = {{ side_effect_static|safe }}
     {% endif %}

    let sideEffectLabels = [];
    let sideEffectPercents = [];

    for (const key in setValue) {
      if (setValue[key] !== 0) {
        sideEffectLabels.push(key);
        sideEffectPercents.push(setValue[key]);
      }
    }

    var mySideEffectType = new Chart(set, {
      type: 'doughnut',
      data: {
        labels: [...sideEffectLabels],
        datasets: [{
          labels: [...sideEffectLabels],
          data: sideEffectPercents.length > 0 ? [...sideEffectPercents] : [0,0,0,100],
          backgroundColor: [
            '#2E65F3',
            '#2E65F3CC',
            '#2E65F380',
            '#DCECFB'
          ],
          borderWidth: 0,
          // borderRadius: 0,
          scaleBeginAtZero: true,
        }]
      },
      options: {
        cutout: '75%',
        responsive: false,
        plugins: {
          tooltip : {
            callbacks : {
              label: function (context) {
                return context.label + ': ' + context.parsed + '%';
              },
              labelTextColor: function (tooltipItem, chart) {
                return 'rgba(255,255,255,1)'
              }
            },
            backgroundColor: 'rgb(0,0,0)',
            bodyFont: {
              size: 13
            }
          },
          legend: {
            display: false
          }
        }
      }
    });


    const mainSideEffectElement = document.getElementById("chart_main_sideeffect")
    
    if (sideEffectPercents.length > 0) {
      const modePercentOfSideEffect = sideEffectPercents.reduce((acc, curr)=> acc > curr ? acc : curr)
      const modeSideEffect = sideEffectLabels[sideEffectPercents.indexOf(modePercentOfSideEffect)]
        mainSideEffectElement.innerHTML = modeSideEffect
    } else {
      mainSideEffectElement.innerHTML = "부작용 없음"
    }

    // 도넛 차트끝

    // 바 차트

    const monthlySeverity = {{ monthly_severity|safe }}

    const dataSet = Object.entries(monthlySeverity)
    dataSet.sort((a,b) => parseInt(a[0].replaceAll(".", "")) - parseInt(b[0].replaceAll(".","")))
    console.log("sorted dataSet", dataSet)



    const dayOne = dataSet.map((item, idx) => idx % 7 == 0 ? item[0] + " ~ " : false).filter(item=> item !== false)
    const daySeven = dataSet.map((item, idx)=> idx % 7 == 6 ? item[0] : false).filter(i => i !== false)
    console.log("daySeven",daySeven)
    if (daySeven.length < 4) {
      daySeven.push(dataSet[dataSet.length - 1][0])
    }
    console.log("daySeven",daySeven)

    const labels = dayOne.map((item, idx)=> item + daySeven[idx])

    const mondays = []
    const tuesdays = []
    const wednesdays = []
    const thursdays = []
    const fridays = []
    const saturdays = []
    const sundays = []

    dataSet.map(([day, value], index)=> {if (index % 7 == 0) {mondays.push(value)}
                                         else if (index  % 7 == 1) {tuesdays.push(value)} 
                                         else if (index  % 7 == 2) {wednesdays.push(value)} 
                                         else if (index  % 7 == 3) {thursdays.push(value)} 
                                         else if (index  % 7 == 4) {fridays.push(value)} 
                                         else if (index  % 7 == 5) {saturdays.push(value)} 
                                         else if (index  % 7 == 6) {sundays.push(value)}})

    const severityColors = ['#F2F2F2', '#DADADA', '#ECDAC0', '#E3AD96', '#CF4545']
    const frequencyColors = ['#F2F2F2', '#DADADA', '#AABCE9', '#5E85E9', '#083098']


    const severity = document.getElementById("mySeverityChart");
    var mySideEffectType = new Chart(severity, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [
        {
          label: '월요일',
          data: mondays.map(e => e.intensity),
          backgroundColor: mondays.map(e=> {return (e.intensity < 1) ? severityColors[0] : severityColors[e.intensity]}),
          stack: '0',
          borderRadius: 10,
          barPercentage: 0.7,
          categoryPercentage: 0.7
        },
        {
          label: '화요일',
          data: tuesdays.map(e => e.intensity),
          backgroundColor: tuesdays.map(e=> {return (e.intensity < 1) ? severityColors[0] : severityColors[e.intensity]}),
          stack: '1',
          borderRadius: 10,
          barPercentage: 0.7,
          categoryPercentage: 0.7
        },
        {
          label: '수요일',
          data: wednesdays.map(e => e.intensity),
          backgroundColor: wednesdays.map(e=> {return (e.intensity < 1) ? severityColors[0] : severityColors[e.intensity]}),
          stack: '2',
          borderRadius: 10,
          barPercentage: 0.7,
          categoryPercentage: 0.7
        },
        {
          label: '목요일',
          data: thursdays.map(e => e.intensity),
          backgroundColor: thursdays.map(e=> {return (e.intensity < 1) ? severityColors[0] : severityColors[e.intensity]}),
          stack: '3',
          borderRadius: 10,
          barPercentage: 0.7,
          categoryPercentage: 0.7
        },
        {
          label: '금요일',
          data: fridays.map(e => e.intensity),
          backgroundColor: fridays.map(e=> {return (e.intensity < 1) ? severityColors[0] : severityColors[e.intensity]}),
          stack: '4',
          borderRadius: 10,
          barPercentage: 0.7,
          categoryPercentage: 0.7
        },
        {
          label: '토요일',
          data: saturdays.map(e => e.intensity),
          backgroundColor: saturdays.map(e=> {return (e.intensity < 1) ? severityColors[0] : severityColors[e.intensity]}),
          stack: '5',
          borderRadius: 10,
          barPercentage: 0.7,
          categoryPercentage: 0.7
        },
        {
          label: '일요일',
          data: sundays.map(e => e.intensity),
          backgroundColor: sundays.map(e=> {return (e.intensity < 1) ? severityColors[0] : severityColors[e.intensity]}),
          stack: '6',
          borderRadius: 10,
          barPercentage: 0.7,
          categoryPercentage: 0.7
        },
        ]
      },
      options: {
        responsive: true,
        scales: {
          x: {
            grid: {
              display: false
            }
          },
          y: {
            ticks: {
              stepSize: 1
            },
            min: 0,
            max: 4
          }
        },
        plugins: {
          tooltip : {
            callbacks : {
              labelTextColor: function (tooltipItem, chart) {
                return 'rgba(255,255,255,1)'
              }
            },
            backgroundColor: 'rgb(0,0,0)',
            bodyFont: {
              size: 13
            }
          },
          legend: {
            display: false
          }
        }
      }
    });

    const frequency = document.getElementById("myFrequencyChart");
    var mySideEffectType = new Chart(frequency, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [
        {
          label: '월요일',
          data: mondays.map(e=> e.frequency),
          backgroundColor: mondays.map(e=> {return (e.frequency < 1) ? frequencyColors[0] : frequencyColors[e.frequency]}),
          stack: '0',
          borderRadius: 10,
          barPercentage: 0.7,
          categoryPercentage: 0.7
        },
        {
          label: '화요일',
          data: tuesdays.map(e=> e.frequency),
          backgroundColor: tuesdays.map(e=> {return (e.frequency < 1) ? frequencyColors[0] : frequencyColors[e.frequency]}),
          stack: '1',
          borderRadius: 10,
          barPercentage: 0.7,
          categoryPercentage: 0.7
        },
        {
          label: '수요일',
          data: wednesdays.map(e=> e.frequency),
          backgroundColor: wednesdays.map(e=> {return (e.frequency < 1) ? frequencyColors[0] : frequencyColors[e.frequency]}),
          stack: '2',
          borderRadius: 10,
          barPercentage: 0.7,
          categoryPercentage: 0.7
        },
        {
          label: '목요일',
          data: thursdays.map(e=> e.frequency),
          backgroundColor: thursdays.map(e=> {return (e.frequency < 1) ? frequencyColors[0] : frequencyColors[e.frequency]}),
          stack: '3',
          borderRadius: 10,
          barPercentage: 0.7,
          categoryPercentage: 0.7
        },
        {
          label: '금요일',
          data: fridays.map(e=> e.frequency),
          backgroundColor: fridays.map(e=> {return (e.frequency < 1) ? frequencyColors[0] : frequencyColors[e.frequency]}),
          stack: '4',
          borderRadius: 10,
          barPercentage: 0.7,
          categoryPercentage: 0.7
        },
        {
          label: '토요일',
          data: saturdays.map(e=> e.frequency),
          backgroundColor: saturdays.map(e=> {return (e.frequency < 1) ? frequencyColors[0] : frequencyColors[e.frequency]}),
          stack: '5',
          borderRadius: 10,
          barPercentage: 0.7,
          categoryPercentage: 0.7
        },
        {
          label: '일요일',
          data: sundays.map(e=> e.frequency),
          backgroundColor: sundays.map(e=> {return (e.frequency < 1) ? frequencyColors[0] : frequencyColors[e.frequency]}),
          stack: '6',
          borderRadius: 10,
          barPercentage: 0.7,
          categoryPercentage: 0.7
        },
        ]
      },
      options: {
        responsive: true,
        scales: {
          x: {
            grid: {
              display: false
            }
          },
          y: {
            ticks: {
              stepSize: 1,
            },
            min: 0,
            max: 4
          }
        },
        plugins: {
          tooltip : {
            callbacks : {
              
              labelTextColor: function (tooltipItem, chart) {
                return 'rgba(255,255,255,1)'
              }
            },
            backgroundColor: 'rgb(0,0,0)',
            bodyFont: {
              size: 13
            }
          },
          legend: {
            display: false
          }
        }
      }
    });


    </script>
{% endblock %}