{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/patient_login.css' %}">
{% endblock %}
{% block content %}
  <main class="col_center" style="center">
    <div class="form_login col_center" style="bold; color:blue">
      <p style="font-size: 80px">{{ code }}</p>
      <p style="font-size: 20px">{{ message }}</p>
    </div>
    <a href="" style="margin-bottom:50px">홈으로 돌아가기</a>
    <p class="txt_center">연세대학교 결핵챗봇 연구팀</p>
    <img class="img_logo_hospital" src={% static 'media/images/logo_hospital.png' %} alt="logo_hospital">
  </main>
{% endblock %}