{% extends 'base1.html' %}
{% load static %}
{% block content %}

  <container class="col-center">
    <img class="img-cole-rochman" src={% static 'media/images/cole_rochman.png' %} alt="cole-rochman">
    <label class="txt-center">안녕하세요! 결핵 환자 관리 챗봇<br><b>결핵 박사 콜로크만</b> 관리자 사이트 입니다.</label>

    <form method="post" class="form-login col-center">
      {% csrf_token %}
      <input type="text" class="form-login-input" name="username" placeholder="병원코드" required>
      <input type="password" class="form-login-input" name="password" placeholder="비밀번호" required>
      
      {% for err_message in errors %}
        {% if err_message %}
          <label class="txt-login-fail">{{ err_message }}</label>
        {% endif %}
      {% endfor %}
      <button type="submit" class="btn-login">로그인</button>
    </form>

    <label class="txt-center">연세대학교 결핵챗봇 연구팀</label>
    <img class="img-logo-hospital" src={% static 'media/images/logo_hospital.png' %} alt="logo_hospital">
  </container>

{% endblock %}
