{% load static %}
<html lang="en">
    <head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="{% static 'css/patient_login.css' %}">
    	<title>비밀번호 찾기</title>
    </head>

    <body>
      <main class="col_center">
        <div class="form_login col_center">
          <div id="form_title">비밀번호 찾기</div>
          <form method="post">
            {% csrf_token %}
            <input type="text" class="form_login_input" name="username" aria-describedby="emailHelp" value="{{username}}" placeholder="환자코드" required>
            <div class="input_button">
              <input type="email" class="form_login_input" name="email" value="{{email}}" placeholder="이메일" required>
              <button type="submit" name="certification" class="btn_certification">인증번호 전송</button>
            </div>
            
            {% for m in msg %}
              {% if m == "인증번호가 전송되었습니다." %}
                <span id="email_success">{{m}}</span>
              {% else %}
                <span id="email_failure">{{m}}</span>
              {% endif %}
            {% endfor %}

            <div class="input_button">
              <input type="number" class="form_login_input" name="user_certificate_number" placeholder="인증번호" >
              <button type="submit" name="submit" class="btn_check">인증번호 확인</button>
            </div>
          </form>
        </div>
    
        <p class="txt_center">연세대학교 결핵챗봇 연구팀</p>
        <img class="img_logo_hospital" src={% static 'media/images/logo_hospital.png' %} alt="logo_hospital">
      </main>
        
    </body>
</html>

