<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/patient_login.css' %}">
    <title>임시 비밀번호 전송</title>
</head>
<body>
  <main>
    <div id="success_message">
      <h2>회원 인증 성공</h2>
      <!-- <h3>임시 비밀번호를 이메일로 발송했습니다!</h3> -->
      <h3>새로운 비밀번호를 입력 해주세요</h3>
      <form method="post">
        {% csrf_token %}
        <div class="input_button">
          <input type="text" class="form_login_input" name="username" aria-describedby="emailHelp" value="{{username}}" placeholder="환자코드" hidden>
          <input type="password" class="form_login_input" name="password" placeholder="새로운 비밀번호" required>
          <button type="submit" name="modify" class="btn_check">변경</button>
        </div>
      </form> 
    </div>
    <a href="{%url 'login_patient'%}">
      <button class="btn_login">로그인 페이지로 돌아가기</button>
    </a>
  </main>
</body>
</html>
