<!DOCTYPE html>
{% load static %}
<html lang="en" style="width:100%;">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/patient_dashboard.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>환자 치료 정보</title>
</head>

<body>
  <header>
    <img id="img_logo" src={% static 'media/images/logo_hospital.png' %} alt="logo_hospital">
    <div id="header_right">
      {% if user.is_active %}
        <p>{{ user.profile.nickname }}({{ user.profile.user }})</p>
        <a id="btn_logout" href="{% url 'logout' %}">
          <span id="icon_logout" class="material-symbols-outlined">logout</span>
          <p id="txt_logout">로그아웃</p>
        </a>
      {% endif %}
    </div>
  </header>

  <main>
    <section>
      <div id="cure">
        <h3>치료 경과</h3>
        <div id="cure_progress">
          <div id="cure_bar"></div>
        </div>
        <div id="cure_date">
            <span>시작일: {{start_date}}</span>
            <span>종료 예정일: {{end_date}}</span>
        </div>
      </div>

      {% if user.is_active %}
      <h2 id="hello">
        <b>좋은 아침이에요,</b><br>{{nickname}}님
      </h2>

      <div id="current_med">
        <div id="tit_current_med" class="flex_row">
          <div id="icon_current_med">
            <span class="material-symbols-outlined">pill</span>
          </div>
          <h2><b>{{nickname}}님의 복약 현황이에요.</b></h2>
        </div>
        <p id="sub_current_med">
          {{nickname}}님! 이번주도 응원할게요.<br>
          일주일 완주, 할 수 있어요!
        </p>
        {% if daily_med_fullfill %}
        <div id="box_current_med" style="background-color: #4A80F0" >
          <div id="txt_current_med" class="flex_row">
            <span class="material-symbols-outlined icon">check</span>
            <div class="flex_row space_between">
              <span>오늘 복약을 완료했어요!</span>
              <span>{{month}}.{{day}}</span>
            </div>
          </div>
          <div class='wave -one'></div>
          <div class='wave -two'></div>
        </div>
        {% else %}
        <div id="box_current_med" style="background-color: #696969" >
          <div id="txt_current_med" class="flex_row">
            <span class="material-symbols-outlined icon">check</span>
            <div class="flex_row space_between">
              <span>아직 복약이 완료되지 않았어요!</span>
              <span>{{month}}.{{day}}</span>
            </div>
          </div>
          <div class='wave -one'></div>
          <div class='wave -two'></div>
        </div>
        {% endif %}
        
      </div>
      {% endif %}
    </section>
      
    <section>
      <div id="cure_manage">
        <div id="tit_cure_manage" class="flex_row">
          <div id="icon_cure_manage">
            <span class="material-symbols-outlined">calendar_today</span>
          </div>
          <h2><b>치료 관리</b></h2>
        </div>
        <div id="cure_manage_calendar">
          <ul id="cure_manage_year">
            <li class="prev">
              <a href="{% url 'patient_dashboard_by_day' prev_year prev_month day %}">
                <span class="material-symbols-outlined">arrow_back_ios</span>
              </a>
            </li>
            <li id="txt_cure_manage_year">
              {{year}}년 {{month}}월
            </li>
            <li class="next">
              <a href="{% url 'patient_dashboard_by_day' next_year next_month day %}">
                <span class="material-symbols-outlined">arrow_forward_ios</span>
              </a>
            </li>
          </ul>
        
          <ul id="weekdays">
            <li>Su</li>
            <li>Mo</li>
            <li>Tu</li>
            <li>We</li>
            <li>Th</li>
            <li>Fr</li>
            <li>Sa</li>
          </ul>
        
          <div id="days">
            <ul>
              {% for i in day_of_the_week_list%}
              <li></li>
              {% endfor %}
              {% for day in day_list%}
              <li>
                <a class="day_of_the_week" href="{% url 'patient_dashboard_by_day' year month day %}">
                  {% if day in today %}
                  <span id="today">{{day}}</span>
                  {% else %}
                  {{day}}
                  {% endif %}
                  {% if day in visit_list %}
                  <div id="visit"></div>
                  {% endif %}
                  {% if day in md_success_list %}
                  <div id="success"></div>
                  {% endif %}
                  {% if day in md_side_effect_list %}
                  <div id="sideeffect"></div>
                  {% endif %}
                </a>    
              </li>
              {% endfor %}
            </ul>
          </div>
          <div id="legend">
            <div id="legend_success" class="legend_color"></div> 
            <div>복약 완료</div> 
            <div id="legend_sideeffect" class="legend_color"></div> 
            <div>부작용</div>
            <div id="legend_visit" class="legend_color"></div> 
            <div>내원일</div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <nav>
    <div class="nav_item">
      <a class="nav_link" aria-current="page" href="{%url 'inspection_result'%}">
        <span class="material-symbols-outlined">content_paste</span>
      </a>
    </div>
    <div class="nav_item">
      <a class="nav_link" aria-current="page" href="{%url 'patient_dashboard'%}">
        <span class="material-symbols-outlined active">home</span>
      </a>
    </div>
    <div class="nav_item">
      <a class="nav_link" aria-current="page" href="{%url 'community_main'%}">
        <span class="material-symbols-outlined">chat_bubble</span>
      </a>
    </div>
  </nav>

  {% if request.path == "/dashboard/" %}
  <div id="modal_bg">
  {% else %}
  <div id="modal_bg" class="open">
  {% endif %}
    <div id="modal">
      <div id="modal_title">복약 일기</div>
      <div id="modal_body">
        <div id="modal_date">{{month}}/{{day}}</div>
        <div id="modal_content">
          {% for element in today_md_success_list %}
          <div class="medi_info">
            <div class="medi_color"></div>
            <div class="medi_status">복약 완료</div>
            <div class="medi_content">{{element}}</div>
          </div>
          {% endfor %}
          {% for name, time, sev1, sev2, sev3 in symptoms %}
          <div class="medi_info">
            <div class="medi_color sideeffect"></div>
            <div class="medi_status">부작용</div>
            <div class="medi_content">{{name}}</div>
          </div>
            {% if sev1 != '얼마나 자주: 선택 없음' or sev2 != '가장 심할 때: 선택 없음' or sev3 != '일상에 지장: 선택 없음' %}
            <div class="medi_detail">
              {% if sev1 != '얼마나 자주: 선택 없음' %}
                {{sev1}}</br>
              {% endif %}
              {% if sev2 != '가장 심할 때: 선택 없음' %}
                {{sev2}}</br>
              {% endif %}
              {% if sev3 != '일상에 지장: 선택 없음' %}
                {{sev3}}</br>
              {% endif %}
            </div>
            {% endif %}
          {% empty %}
          {% if not today_md_success_list %}
          <span class="medi_no_info">복약 내역이 없습니다.</span>
          {% endif %}
          {% endfor %}
      </div>
    </div>

    <script>
      document.getElementById("cure_bar").style.width = "{{cure_progress}}%";
      const modalBG = document.getElementById("modal_bg");
      const days = document.querySelectorAll(".day_of_the_week");

      modalBG.addEventListener("click", () => {
        modalBG.classList.remove("open");
      });

      for(const day of days) {
        day.addEventListener("click", () => {
          modalBG.classList.add("open");
        });
      };
    </script>
</body>
</html>
