{% extends 'base1.html' %}

{% block content %}
  <div class="col-md-12" style="height:100%">
    <div class="row ">
      <div class="col-md-4" style="padding-right:0px;padding-left:0px;">
        <div style="height :25%" class="menubar">
          <div class="offset-1"><h2></h2></div>
        </div>

        <a href="{% url 'patient_dashboard'  %}" class="text-decoration-none">
          <div style="height :25%" class="menubar hover-near-white">
            <div class="offset-1"><h2>환자 정보 조회</h2></div>
          </div>
        </a>
        <div style="height :25%" class="menubar">
          <div class="offset-1"><h2></h2></div>
        </div>

      </div>
      <div class="col-md-8 blue bg-image">
        <div class="offset-8">
          {% if user.is_active %}
            <p><b>{{ user.patient.nickname }}({{ user.username }})</b>님 안녕하세요!</p>
          {% endif %}
        </div>
      </div>
    </div>

  </div>
{% endblock %}