{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/manager_login.css' %}">
{% endblock %}
    <body style="display: flex; flex-direction: column; align-items: center;">
        <div style="display: flex; flex-direction: column; align-items: center; margin-top: 3vh;">
            <h3>
                안녕하세요!
            </h3>

            <h6 class="md-5 text-center"><br>
                결핵 환자 관리 챗봇<b> 결핵 박사 콜로크만</b><br>비밀번호 찾기 사이트입니다.
            </h6>
        </div>

        <img src = "https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2F9Yn4P%2FbtrNwkqmIVp%2FWgGpTI1X2CgTohFyW5B3aK%2Fimg.jpg" style="width: 100%; height: 40%;">

        <div>
            {% if errors %}
                <ul>
		{% for msg in errors %}
                    <div style="color: red; font-size: 1rem; font-weight: 700; margin: 3vh 0; text-align: center;">{{ msg }}</div>
                {% endfor %}
                </ul>
            {% else %}
            <p></p>
            {% endif %}

            <form method="post">
                {% csrf_token %}
                <div class="col-sm-8">기존 비밀번호: {{form.old_password}}</div>

                <div class="col-sm-8">새 비밀번호: {{form.new_password1}}</div>

                <div class="col-sm-5">새 비밀번호(확인): {{form.new_password2}}</div>
                <div style="margin-top: 2%;">
                    <h6>*비밀번호는 최소 8자 이상이어야 합니다.</h6>
              	    <h6>*비밀번호는 숫자로만 이루어져야 합니다.</h6>
                </div>
                <button type="submit" class="btn btn-primary">비밀번호 변경</button>   
            </form>
        </div> 

