
{% extends 'base1.html' %}

{% block content %}
  <div class="row mb-0">
  <div class="col-md-12" style="height:100%">
    <div class="row ">
      <div class="col-md-4">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


        <div class="col-md-8 offset-2">
          <h3 class="text-center">
            안녕하세요!
          </h3>

          <h6 class="md-5 text-center"><br>
            결핵 환자 관리 챗봇<b> 결핵 박사 콜로크만</b><br>관리자 사이트입니다.
          </h6>
          <br><br>
          {% if errors %}
            <ul>
              {% for msg in errors %}
                <strong>{{ msg }}<br></strong>
              {% endfor %}
            </ul>
          {% else %}
            <p></p>
          {% endif %}
          <br>


          <form method="post">
            {% csrf_token %}
            <div class="col-sm-8">기존 비밀번호: {{form.old_password}}</div>

            <div class="col-sm-8">새 비밀번호: {{form.new_password1}}</div>

            <div class="col-sm-8">새 비밀번호(확인): {{form.new_password2}}</div>
            <div style="margin-top: 2%;">
              <h6>*다른 개인정보와 비슷한 비밀번호는 사용할 수 없습니다.</h6>
              <h6>*비밀번호는 최소 8자 이상이어야 합니다.</h6>
              <h6>*비밀번호는 일상적으로 사용되는 비밀번호일 수 없습니다.</h6>
              <h6>*비밀번호는 전부 숫자로 할 수 없습니다.</h6>
            </div>
            <button type="submit" class="btn btn-primary">비밀번호 변경</button>
            
          </form>
        </div>
      </div>
      <div class="col-md-8 blue bg-image">

      </div>


    </div>


  </div>
  </div>
  <div class="row-md-12 footer fixed-bottom text-center bg-white" style="height:13%">
      <footer><br>
        <b>데시스랩 (DESIS Lab)</b> 서울특별시 강북구 오패산로30길 30, 1층 101호(미아동, 경남아너스빌)<br> 대표자 : 백준상 | 사업자등록번호 :
          307-24-65346 <br>업태 : 정보통신업 | 종목: 포탈 및 기타 인터넷 정보 매개 서비스업
      </footer>
    </div>
{% endblock %}