<!DOCTYPE html>
{% load static %}
<html lang="en" style="width:100%;">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/patient.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>환자 치료 정보</title>
</head>

<body>

  <div id="cure">
    <h3>치료 경과</h3>
    <div id="myProgress">
      <div id="myBar"></div>
    </div>
    <div id="cureDate">
        <span>{{start_date}}</span>
        <span>{{end_date}}</span>
    </div>
  </div>

  {% if user.is_active %}
  <h2 id="hello">
    <b>좋은 아침이에요,</b><br>{{nickname}}님
  </h2>

  <div id="currentMed">
    <div id="currentMedTitle" class="flex-row">
      <div id="currentMedIcon">
        <span class="material-symbols-outlined">pill</span>
      </div>
      <h2><b>{{nickname}}님의 복약 현황이에요.</b></h2>
    </div>
    <p id="currentMedSub">
      {{nickname}}님! 이번주도 응원할게요.<br>
      일주일 완주, 할 수 있어요!
    </p>
    <div id="currentMedContent" >
      <div id="currentMedText" class="flex-row">
        <span class="material-symbols-outlined icon">check</span>
        <div class="flex-row space-between">
          <span>오늘 복약을 완료했어요!</span>
          <span>{{month}}.{{day}}</span>
        </div>
      </div>
      <div class='wave -one'></div>
      <div class='wave -two'></div>
    </div>
  </div>
  {% endif %}
    
  <div id="cureManage">
    <div id="cureManageTitle" class="flex-row">
      <div id="cureManageIcon">
        <span class="material-symbols-outlined">calendar_today</span>
      </div>
      <h2><b>치료 관리</b></h2>
    </div>
    <div id="cureManageCalendar">
      <ul id="cureManageYear">
        <li class="prev">
          <a href="{% url 'patient_dashboard_by_day' prev_year prev_month day %}">
            <span class="material-symbols-outlined">arrow_back_ios</span>
          </a>
        </li>
        <li id="cureManageYearText">
          {{year}}년 {{month}}월
        </li>
        <li class="next">
          <a href="{% url 'patient_dashboard_by_day' next_year next_month day %}">
            <span class="material-symbols-outlined">arrow_forward_ios</span>
          </a>
        </li>
      </ul>
    
      <ul class="weekdays">
        <li>Su</li>
        <li>Mo</li>
        <li>Tu</li>
        <li>We</li>
        <li>Th</li>
        <li>Fr</li>
        <li>Sa</li>
      </ul>
     
    
      <div class="days">
        <ul>
          {% for i in day_of_the_week_list%}
          <li></li>
          {% endfor %}
          {% for day in day_list%}
          <li>
            <a class="day_of_the_week" href="{% url 'patient_dashboard_by_day' year month day %}">
              {% if day in today %}
              <span id="today">{{day}}</span>
              {% else %}
              {{day}}
              {% endif %}
              {% if day in visit_list %}
              <div id="visit"></div>
              {% endif %}
              {% if day in md_success_list %}
              <div id="success"></div>
              {% endif %}
              {% if day in md_side_effect_list %}
              <div id="sideeffect"></div>
              {% endif %}
            </a>    
          </li>
          {% endfor %}
        </ul>
      </div>
      <div id="legend">
        <div id="legendSuccess" class="legend-color"></div> 
        <div>복약 완료</div> 
        <div id="legendSideeffect" class="legend-color"></div> 
        <div>부작용</div>
        <div id="legendVisit" class="legend-color"></div> 
        <div>내원일</div>
      </div>
    </div>
  </div>


{% comment %} <div style="display: flex; flex-direction: column; border-radius: 35px 35px 0 0; background-color: white; margin-top: 30px; padding-bottom: 40px;">
    <div style="font-size: 1.2rem; font-weight: 700; font-family: Apple SD Gothic Neo`; margin-top: 3vh; margin-bottom: 1vh; margin-left: 10vw;">{{print_year}}.{{month}}.{{day}} {{weekday}}</div>  


    {% for element in today_md_success_list %}
    <div style="background-color: #E0F3FE; width: 84vw; height: 7vh; margin-top: 1.5vh; margin-left: 8vw; border-radius: 15px; display: flex; flex-direction: row; align-items: center;">
        <div style="background-color: #009CF4; border-radius: 20px; width: 5%; height: 7px; margin-left: 3%;"></div> 
        <div style="font-size: 1.2rem; margin-left: 3%; font-weight: 400;">
	    복약 완료 {{element}}
	</div>
    </div>
    {% endfor %}

    {% for name, time, sev1, sev2, sev3 in symptoms %}
    <div style="background-color: #FFEAE3; width: 84vw; height: 6vh; margin-top: 1.5vh; margin-left: 8vw; border-radius: 15px 15px 0 0; display: flex; flex-direction: row; align-items: center;">
        <div style="background-color: #FF3D00; border-radius: 20px; width: 5%; height: 7px; margin-left: 3%;"></div>
        <div style="font-size: 1.2rem; margin-left: 3%; font-weight: 400;">
            부작용 {{name}} ({{time}})
        </div>
    </div>
    
    <!-- 부작용 증상 정리 -->
    {% if sev1 != '얼마나 자주: 선택 없음' %}
    <div style="background-color: #FFEAE3; width: 84vw; height: 3vh; margin-top: 0; margin-left: 8vw; border-radius: 0 0 0 0; font-size: 1rem; font-weight: 400; padding-left: 9vw;">
       	{{sev1}}
    </div>
    {% endif %}
    {% if sev2 != '가장 심할 때: 선택 없음' %}
    <div style="background-color: #FFEAE3; width: 84vw; height: 3vh; margin-top: 0; margin-left: 8vw; border-radius: 0 0 0 0; font-size: 1rem; font-weight: 400;; padding-left: 9vw;">
        {{sev2}}
    </div>
    {% endif %}
    {% if sev3 != '일상에 지장: 선택 없음' %}
    <div style="background-color: #FFEAE3; width: 84vw; height: 3vh; margin-top: 0; margin-left: 8vw; border-radius: 0 0 0 0; font-size: 1rem; font-weight: 400; padding-left: 9vw;">
        {{sev3}}
    </div>
    {% endif %}

    <div style="background-color: #FFEAE3; width: 84vw; height: 2vh; margin-top: 0; margin-left: 8vw; border-radius: 0 0 15px 15px;"></div>

    <!-- 부작용 증상 정리 end -->

    {% endfor %} {% endcomment %}

    <div class="nav">
      <div class="nav-item">
        <a class="nav-link"aria-current="page" href="{%url 'inspection_result'%}">
          <span class="material-symbols-outlined">content_paste</span>
        </a>
      </div>
      <div class="nav-item">
        <a class="nav-link"aria-current="page" href="{%url 'patient_dashboard'%}">
          <span class="material-symbols-outlined active">home</span>
        </a>
      </div>
      <div class="nav-item">
        <a class="nav-link"aria-current="page" href="{%url 'community_main'%}">
          <span class="material-symbols-outlined">chat_bubble</span>
        </a>
      </div>
    </div>

    {% if request.path == "/dashboard/" %}
    <div id="modal_bg">
    {% else %}
    <div id="modal_bg" class="open">
    {% endif %}
      <div id="modal">
        <div id="modal_title">복약 일기</div>
        <div id="modal_body">
          <div id="modal_date">{{month}}/{{day}}</div>
          <div id="modal_content">
            {% for element in today_md_success_list %}
            <div class="medi_info">
              <div class="medi_color"></div>
              <div class="medi_status">복약 완료</div>
              <div class="medi_content">{{element}}</div>
            </div>
            {% endfor %}
            {% for name, time, sev1, sev2, sev3 in symptoms %}
            <div class="medi_info">
              <div class="medi_color sideeffect"></div>
              <div class="medi_status">부작용</div>
              <div class="medi_content">{{name}}</div>
            </div>
            <p class="medi_detail">
              {{sev1}} {{sev2}} {{sev3}}
            </p>
            {% endfor %}
      </div>
    </div> 

    <script>
      document.getElementById("myBar").style.width = "{{cure_progress}}%";
      const modalBG = document.getElementById("modal_bg");
      const days = document.querySelectorAll(".day_of_the_week");

      modalBG.addEventListener("click", () => {
        modalBG.classList.remove("open");
      });

      for(const day of days) {
        day.addEventListener("click", () => {
          modalBG.classList.add("open");
        });
      };
    </script>
</body>
</html>
