<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/manager_menu.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>결핵 환자 정보 대쉬보드</title>
  </head>

  <body>
    <main class="col_center">
      <img id="img_cole_rochman" src={% static 'media/images/cole_rochman.png' %} alt="cole-rochman">
      {% if user.is_active %}
        <span><b>{{ user.profile.nickname }}({{ user.profile.hospital.code }})</b>님 안녕하세요!</span>
      {% endif %}

      <div class="row_center">
        <a href="{% url 'admin:index'%}" class="btn_manage col_center bg_white_txt_blue">
          <span class="material-symbols-outlined">assignment_turned_in</span>
          <span>의료 관리</span>
        </a>
        <a href="{% url 'user_dashboard' %}" class="btn_manage col_center bg_blue_txt_white">
          <span class="material-symbols-outlined">badge</span>
          <span>환자 관리</span>
        </a>
      </div>

      <p class="txt_center">연세대학교 결핵챗봇 연구팀</p>
      <img id="img_logo" src={% static 'media/images/logo_hospital.png' %} alt="logo_hospital">
    </main>
  </body>
</html>