@import "reset.css";

html, body {
  min-width: 1440px;
  background: var(--bg-color-lightgray);
  overflow-y: hidden;
  overflow-x: auto;
}

h1, h2 {
  margin: 20px 0;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: var(--bg-color-white);
}

#img_logo {
  width: 116px;
  height: 20px;
  margin: 5px 0;
}

#header_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

#btn_logout {
  display: flex;
  align-items: center;
  margin-left: 20px;
  color: var(--txt-color-lightgray);
}

#icon_logout {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-right: 3px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 20
}

#txt_logout {
  font-size: 14px;
}

/* Manager Dashboard */
main {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  align-items: center;
}

/* Left Navigation Bar */
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
  height: 440px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 88 600' fill='%23356CF9'%3E%3Cpath d='M0 0V599.946C3.3542 566.703 25.509 543.087 43.8332 533.331C55.268 526.089 83.7691 504.052 87.3139 475.515C87.9238 469.735 88.4383 213.352 87.3139 117.651C86.361 100.804 71.21 75.0604 55.6396 66.4649C37.487 56.1718 4.39285 34.4788 0 0Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
}

#icon_nav {
  margin: 25px 0;
  padding: 5px;
  color: var(--bg-color-white);
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 32
}

#icon_nav.active {
  border-radius: 10px;
  color: var(--bg-color-blue);
  background-color: var(--bg-color-white);
}

/* Patient Status Section */
section {
  margin: auto;
  width: 1280px;
}

section > h2 {
  margin-top: 0;
}

.grid_container {
  display: grid;
  grid-template-columns: 256px auto;
  grid-template-rows: 400px auto;
  gap: 20px;
}

.bg_white_round {
  background-color: var(--bg-color-white);
  border-radius: 7px;
  border: 0px;
}

/* Search Patient */
#myInput {
  width: 216px;
  padding: 10px 10px 10px 30px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' viewBox='0 96 960 960' width='48'%3E%3Cpath d='M796 935 533 672q-30 26-69.959 40.5T378 727q-108.162 0-183.081-75Q120 577 120 471t75-181q75-75 181.5-75t181 75Q632 365 632 471.15 632 514 618 554q-14 40-42 75l264 262-44 44ZM377 667q81.25 0 138.125-57.5T572 471q0-81-56.875-138.5T377 275q-82.083 0-139.542 57.5Q180 390 180 471t57.458 138.5Q294.917 667 377 667Z' fill='%23919BA7'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 5px center;
}

#myInput::placeholder {
  color: var(--txt-color-placeholder);
}

#myInput:focus {
  outline: 1.5px solid var(--bg-color-blue);
}

#myUL {
  height: 355px;
  padding: 0;
  margin: 10px 0 0 0;
  overflow: auto;
}

#radio_patient {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 50%;
  border: 1px solid var(--bg-color-gray);
  margin: auto 20px auto 5px;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

#radio_patient:checked {
  outline-offset: 2px;
  outline: 2px solid var(--bg-color-blue);
  background-color: var(--bg-color-blue);
  margin: auto 23px auto 8px;
  width: 16px;
  height: 16px;
}

.li_patient {
  list-style-type : none;
  display: flex;
  padding: 10px;
  border-bottom: 1px solid var(--bg-color-gray);
}

#btn_patient {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 14px;
  width: 80%;
}

.txt_black {
  color: var(--txt-color-black);
}

.txt_lightgray {
  color: var(--txt-color-lightgray);
  margin-top: 5px;
}

/* Patient Progress */
.status_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 145px auto;
  gap: 20px;
  justify-items: stretch;
  align-items: stretch;
}

.grid_progress {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 20px);
  gap: 15px;
}

.item_progress:nth-child(1) {
  margin: 0px;
  font-size: 18px;
}
.item_progress:nth-child(2) {
  text-align: end;
  font-size: 16px;
}
.item_progress:nth-child(3) {
  grid-column: 1 / span 2;
}
.item_progress:nth-child(4) {
  font-size: 13px;
}
.item_progress:nth-child(5) {
  text-align: end;
  font-size: 13px;
}

#myProgress {
  height: 20px;
  width: 100%;
  background-color: var(--bg-color-lightblue);
  border-radius: 34px;
}

#myBar {
  height: 20px;
  background-color: var(--bg-color-blue);
  border-radius: 34px;
}

.item_status {
  padding: 25px;
}

.item_status:nth-child(1) {
  grid-column: 1 / span 3;
  padding: 30px;
}

.chart {
  position: relative;
  margin: auto;
}

.chart > canvas {
  margin: auto;
  width: 150px;
}

.chart_title {
  text-align: center;
  width: 105px;
  position: absolute;
  top: 65px;
  left: 85px;
}

.chart_title > p {
  font-size: 14px;
  margin-bottom: 5px;
}

.chart_bg {
  width: 105px;
  height: 105px;
  position: absolute;
  top: 10px;
  left: 65px;
  border: 18px solid #DCECFB;
  border-radius: 50%;
}

#myMedication,
#mySideEffectFreq {
  position: relative;
}

/* Bottom */
.remain,
.manage_current {
  padding: 25px;
  height: 150px;
  position: relative;
}

/* Manage Current */
.manage_date {
  display: flex;
  width: 100%;
  margin-top: 25px;
  align-items: center;
}

.btn_date {
  color: var(--bg-color-blue);
}

.manage_date > .day {
  margin: 0 auto;
  font-weight: bold;
}

.legend {
  display: flex;
  position: absolute;
  top: 25px;
  right: 25px;
  align-items: center;
}

.legend > div {
  margin-left: 2vw;
}

.legend > span {
  margin-left: 5px;
  font-size: 13px;
}

.legend > .success {
  width: 18px;
  height: 18px;
}

.legend > .sideeffect {
  width: 15px;
  height: 15px;
}

.line_status {
  position: relative;
  top: 23px;
  height: 10px;
  width: 80%;
  margin: 0 auto;
  background-color: var(--bg-color-lightblue);
}

.manage_status {
  width: calc(100% - 40px);
  margin: 5px auto;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.status {
  width: 100px;
  font-size: 12px;
  text-align: center;
  vertical-align: top;
  word-break: keep-all;
}

.status > div {
  margin: auto auto 10px auto;
}

.empty {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--bg-color-lightblue);
}

.success {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--bg-color-blue);
}

.sideeffect {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 3px solid var(--txt-color-pink);
}