@import "reset.css";

html, body {
  overflow-x: hidden;
}

/* Header */
header {
  padding: 20px;
  box-shadow: 0 0 10px var(--bg-color-gray);
}

header > a {
  display: flex;
  flex-direction: row;
  color: var(--bg-color-blue);
}

header span {
  font-size: 1.2rem;
  line-height: 28px;
}

/* Post Box */
#post_box {
  position: relative;
  padding: 20px;
  border-bottom: 1px solid var(--bg-color-gray);
}

#post_title {
  display: flex;
  flex-direction: row;
  font-size: 18px;
}

#post_question {
  color: var(--bg-color-blue);
  font-weight: bold;
  margin-right: 10px;
}

#post_comment {
  color: var(--bg-color-blue);
  margin-left: 10px;
}

#post_info {
  display: flex;
  flex-direction: row;
  color: var(--txt-color-placeholder);
  margin-top: 5px;
  justify-content: space-between;
  width: 30vw;
}

#post_delete {
  position: absolute;
  top: calc(50% - 12px);
  right: 20px;
}

/* Post Content */
#post_content {
  padding: 25px 20px;
  color: var(--txt-color-darkgray);
  line-height: 1.5rem;
  border-bottom: 10px solid var(--bg-color-lightgray);
}

/* Comment Box */
#comment_title {
  font-size: 1.1rem;
  padding: 20px 20px 0 20px;
}

#comment_title > span:nth-child(2) {
  color: var(--bg-color-blue);
  margin-left: 5px;
}

#comment_form {
  border-bottom: 1px solid var(--bg-color-gray);
  padding: 0 20px 15px 20px;
}

#comment_form > form {
  display: flex;
  flex-direction: column;
}

#comment_form > form > textarea {
  border: 1px solid var(--txt-color-placeholder);
  border-radius: 10px;
  margin: 10px 0;
  height: 70px;
  font-size: 1rem;
  padding: 10px;
}

#comment_form > form > textarea::placeholder {
  color: var(--txt-color-placeholder);
}

#comment_form > form > button {
  margin-left: auto;
  background-color: var(--bg-color-blue);
  color: var(--bg-color-white);
  border-radius: 20px;
  padding: 5px 20px;
}

.comment_box {
  padding: 20px;
  border-bottom: 1px solid var(--bg-color-gray);
}

.comment_info {
  position: relative;
}

.comment_info > span:nth-child(1) {
  font-weight: bold;
  margin-right: 10px;
}

.comment_info > span:nth-child(2) {
  color: var(--txt-color-placeholder);
}

#comment_delete {
  position: absolute;
  top: calc(50% + 5px);
  right: 0;
}

.comment_content {
  margin-top: 10px;
  line-height: 24px;
}