:root {
  --bg-color-lightgray: #F4F6FA;
  --bg-color-white: #FFFFFF;
  --bg-color-blue: #2E65F3;
  --bg-color-midblue: #CDDEFF;
  --bg-color-gray: #E0E2E7;
  --bg-color-lightblue: #F3F6FF;
  --bg-color-red: #FF5A36;
  --bg-color-yellow: #FDB806;
  --txt-color-gray: #6A727A;
  --txt-color-red: #F86767;
  --txt-color-lightgray: #5F6D7E;
  --txt-color-black: #000;
  --txt-color-placeholder: #919BA7;
  --txt-color-pink: #FFA19B;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color-white);
}

button {
  background: none;
  border: none; 
  outline: none;
}

a, a:hover, a:active {
  text-decoration: none; 
  outline: none;
  color: var(--txt-color-black);
}

/* NavBar */
.nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-around;
  background-color: var(--bg-color-white);
  padding: 10px 0;
  border-top: 1px solid var(--bg-color-lightgray);
  box-shadow: 0 0 10px var(--bg-color-gray);
}

.nav-link {
  line-height: 16px;
}

.nav-link > span {
  color: var(--txt-color-placeholder);
}

.nav-link > .active {
  color: var(--bg-color-blue);
}

/* Search Box */
#searchBox {
  display: flex; 
  flex-direction: row; 
  justify-content: center;
  padding: 20px;
  border-top: 1px solid var(--bg-color-lightgray);
  box-shadow: 0 0 10px var(--bg-color-gray);
}

#searchBox > form {
  display: flex;
  flex-direction: row;
}

#community_search {
  width: 70vw; 
  border: 1.5px solid var(--txt-color-placeholder);
  border-radius: 50px;
  outline: none;
  padding: 0 15px;
}

#community_btn {
  color: var(--txt-color-placeholder);
  margin: auto 5px;
}

#community_btn > span,
#post_btn > span {
  font-size: 30px;
  line-height: 38px;
}

#post_btn {
  color: var(--bg-color-blue);
}

/* Post Box */
#post_box {
  padding: 25px;
}

#post_title {
  display: flex;
  flex-direction: row;
  font-size: 18px;
}


#post_question {
  color: var(--bg-color-blue);
  font-weight: bold;
  margin-right: 10px;
}

#post_comment {
  color: var(--bg-color-blue);
  margin-left: 10px;
}

#post_info {
  display: flex;
  flex-direction: row;
  color: var(--txt-color-placeholder);
  margin-top: 5px;
  justify-content: space-between;
  width: 30vw;
}